h3 ДИФФЕРЕНЦИАЛЬНЫЕ УРАВНЕНИЯ ПЕРВОГО ПОРЯДКА. ОСНОВНЫЕ ПОНЯТИЯ
	+source(links=['http://twt.mpei.ac.ru/math/ode/odef/ODEf_04000000.html'])
dl
	dt: dfn Обыкновенное дифференциальное уравнение первого порядка #[+m(where={ 'y=y(x)':'неизвестная, непрерывно дифференцируема на (a,b) функция, называется обыкновенным дифференциальным уравнением первого порядка' }) F(x, y, y')=0],
	dd 
		p Дифференциальное уравнение 1–го порядка имеет бесконечно много решений. Для того чтобы выделить единственное решение, нужно задать дополнительные (начальные) условия.
		p #[dfn Нормальная форма] #[+m \ddv yx=f(x,y)] - уравнение 1-го порядка, разрешенное относительно производной
		p Уравнения первого порядка часто записывают в дифференциальной форме: #[+m M(x, y)\dd x + N(x, y)\dd y=0]. Решение такого уравнения можно искать как в виде #[+m y=y(x)], так и в виде #[+m x=x(y)]
	dt #[dfn Решение #[+m y=(x)]] дифференциального уравнения #[+m F(x, y, y')=0]
	dd Функция непрерывная дифференцируемая на #[+m() (a,b)] и #[+m F(x, y(x), y'(x)) ≡ 0] для всех #[+m x] из #[+m() (a,b)].
	dt Интегральной кривой дифференциального уравнения
	dd График решения дифференциального уравнения
	dt: dfn Начальная задача
	dt: dfn Задача Коши 
	dd 
		p Задача отыскания решения #[+m y=(x)] уравнения #[+m F(x, y(x), y'(x))=0], удовлетворяющего условию #[+m y_0(x_0)=0], условие #[+m y_0(x_0)=0] — #[dfn начальное условие].
		p Любое конкретное решение #[+m y=(x)] (решение задачи Коши) уравнения 1–го порядка, называется #[dfn частным решением уравнения].
			| #[br]Общее решение уравнения, записанное в неявной форме #[+m \Phi(x,y)=C], называется #[dfn общим интегралом уравнения].
			| #[br]Частное решение уравнения, записанное в неявной форме #[+m \Phi(x,y)=0], называется #[dfn частным интегралом уравнения].









h2 МЕТОД ИЗОКЛИН ПРИБЛИЖЁННОГО РЕШЕНИЯ УРАВНЕНИЙ ПЕРВОГО ПОРЯДКА
	+source(links=['http://twt.mpei.ac.ru/math/ode/odef/ODEf_04120000.html#:~:text=%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%20%D0%B8%D0%B7%D0%BE%D0%BA%D0%BB%D0%B8%D0%BD%20%E2%80%94%20%D0%BF%D1%80%D0%B8%D0%B1%D0%BB%D0%B8%D0%B6%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9%20%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BC%D0%B5%D1%82%D0%BE%D0%B4,%D0%BA%D1%80%D0%B8%D0%B2%D1%83%D1%8E%2C%20%D0%BF%D1%80%D0%BE%D1%85%D0%BE%D0%B4%D1%8F%D1%89%D1%83%D1%8E%20%D1%87%D0%B5%D1%80%D0%B5%D0%B7%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%BD%D1%83%D1%8E%20%D1%82%D0%BE%D1%87%D0%BA%D1%83'])
p Рассмотрим обыкновенное дифференциальное уравнение 1–го порядка #[+m \ddv yx=f(x,y)]. Пусть #[+m y=y(x)] решение уравнения.
p Интегральная кривая #[+m y=y(x)] имеет касательную с угловым коэффициентом #[+m k=f(x,y(x))]. Это означает, что через #[em каждую] точку #[+m() (x,y)] области определения функции #[+m f(x,y)] можно провести небольшой отрезок с угловым коэффициентом #[+m k=f(x,y(x))].
| Выполнив такое построение для всех узлов некоторой прямоугольной сетки в области определения правой части уравнения , получим изображение #[em поля направлений]. 
p Когда узлы сетки расположены "достаточно часто" поле направлений дает полную картину поведения интегральных кривых.
dl
	dt: dfn Метод изоклин
	dd 
		p Приближенный графический метод решения обыкновенных дифференциальных уравнений 1–го порядка, который позволяет на бумаге построить изображение поля направлений и по этому изображению построить интегральную кривую, проходящую через заданную точку. 
		p Рассмотрим линии, в каждой точке которых угловой коэффициент интегральных кривых имеет одно и то же постоянное значение: #[+m f(x,y)=k, k=\const].#[br]Такие кривые называются #[dfn изоклинами] дифференциального уравнения #[+m y'=(x,y)]. Равенство #[+m f(x,y)=k] — #[dfn уравнение изоклины]. 
		p В каждой точке #[+m() (x,y)] изоклины #[+m f(x,y)=k] интегральные кривые уравнения имеют один и тот же угол наклона #[+m arctg(\alpha)=k].
		ol Метод изоклин состоит в следующем
			li Строим достаточно густую сетку изоклин для различых значений #[+m k] и на каждой изоклине изображаем небольшие отрезки с наклоном #[+m k].
			li Начиная из точки #[+m() (x_0,y_0)], поводим линию, которая, будет пересекать каждую изоклину под углом, заданным полем направлений. Полученная таким образом кривая и будет приближенным изображением (эскизом) интегральной кривой уравнения, проходящей через точку #[+m() (x_0,y_0)].
		figure
			img(alt="alt string" src='http://twt.mpei.ac.ru/math/ode/img/ODE_04120000_1.gif')
			figcaption Изоклины для #[+m k=1,2, … ,15,16] и интегральная кривая, проходящая через точку #[+m() (0,0)].
		p Метод изоклин как метод #[em приближенного решения] задачи Коши устарел. В его в основе лежит алгоритм изображения фрагмента поля направления, а современные компьютеры могут мгновенно и как угодно подробно нарисовать поле направлений, и достаточно точно изобразить интегральную кривую.#[br]Однако, метод изоклин эффективно работает как #[em инструмент исследования поведения решений]. Он позволяет изобразить области #[em характерного] поведения интегральных кривых.
		p.example изоклина #[+m f(x,y)=0] — геометрическое место стационарных точек решения дифференциального уравнения, изоклины #[+m f(x,y)=k] с большими значениями #[+m k] показывают области быстрого роста решений и ….
		figure
			img(alt="alt string" src='http://twt.mpei.ac.ru/math/ode/img/ODE_04120000_2.gif')
			figcaption Показано как помогают изоклины "увидеть" точки экстремума интегральной кривой и судить о поведении решений дифференциального уравнения.
		section.example
			p Рассмотрим дифференциальное уравнение #[+m y'=x^2+y^2]. Все изоклины этого дифференциального уравнения — окружности, поскольку они описываются уравнениями #[+m x^2+y^2=k,k>0].
			p На рисунке изображены изоклины для #[+m k=1,2, … ,15,16] и интегральная кривая, проходящая через точку #[+m() (0,0)]. Чем больше радиус окружности-изоклины, тем быстрее растёт решение уравнения.
			img(alt="alt string" src='http://twt.mpei.ac.ru/math/ode/img/ODE_04120000_1.gif')

