hgroup 
	h3 What Is the Unit Circle?
	+source(links=['https://www.expii.com/t/what-is-the-unit-circle-5221'])
| The unit circle is the set of points a unit away (dis\tance 1) from the origin, (0,0). It will serve as a convenient reference object for angles in trig.
header #[a(href='https://www.expii.com/'): img(alt="alt string" src='https://www.expii.com/static/media/logoWhite.edf93e78.svg')]
	img(alt="alt string" src='https://www.expii.com/static/media/logoWhite.edf93e78.svg')
	| #[a(href='https://www.expii.com/') Home]Log inSign upSearch for math and science topicsSearch for topics
| #[a(href='https://www.expii.com/t/algebra-4712') Algebra 2]#[a(href='https://www.expii.com/t/unit-circle-in-trigonometry-8908') Unit Circle in Trigonometry]
h3 What Is the Unit Circle?
| The unit circle is the set of points a unit away (dis\tance 1) from the origin, (0,0). It will serve as a convenient reference object for angles in trig.What Is the Unit Circle?#[a(href='https://www.expii.com/t/what-is-the-unit-circle-5221') Go to Topic]
h4 Explanations (3)
| #[a(href='https://www.expii.com/user/33551'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/expii_pic.jpg')]#[a(href='https://www.expii.com/user/33551') Jonathan Heller]Text11
h6 The Unit Circle
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unit_circle.png')
p By Gustavb via #[a(href='https://commons.wikimedia.org/wiki/File:Unit_circle_angles.svg') Wikimedia Commons]
p At first the unit circle can look a little overwhelming but it is very useful once you unders\tand all of the parts. Let's look at some basics.
ol
	li The unit circle is a circle with a radius of #[+m 1] unit (hence the name)
	li Each point along the circumference of the circle relates to a \co\sine and \sine of the angle from the positive #[+m x]-axis, called #[+m \theta], and can be listed as #[+m() (\cos\theta,\sin\theta)].
	li The listed angles and points are used in relation to special triangles (#[a(href='https://expii.com/t/right-triangle-side-ratios-5461') 45-45-90 Triangles] and #[a(href='https://expii.com/t/right-triangle-side-ratios-5462') 30-60-90 Triangles])
h6 \Sine, \Co\sine, and Right Triangles
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unit_2.png')
p By MartinThoma via #[a(href='https://commons.wikimedia.org/wiki/File:Triangle-unit-circle.svg') Wikimedia Commons]
p At any given point on the unit circle, a line can be made perpendicular to the #[+m x]-axis from the point to the #[+m x]-axis. This creates a right triangle with side lengths of #[+m 1], #[+m \cos\theta], and #[+m \sin\theta]. We can relate this back to our special triangles (#[a(href='https://expii.com/t/right-triangle-side-ratios-5461') 45-45-90 Triangles] and #[a(href='https://expii.com/t/right-triangle-side-ratios-5462') 30-60-90 Triangles]).
p If #[+m \theta=45°], we get our #[+m 45−45−90] triangle. Our expansive knowledge of this kind of triangle and our good friend soh-cah-toa let us know that both the \sine and \co\sine of #[+m 45] is #[+m √22]. This is reflected by the point on the unit circle where #[+m \theta=45°]
p If #[+m \theta=30°], we get the #[+m 30−60−90] triangle. From this triangle we have calculated that #[+m \cos30=√32] and #[+m \sin30=12]. This same triangle is used for #[+m \theta=60]. Calculating from our triangle we get that #[+m \cos60=12] and #[+m \sin60=√32]. Once again this is reflected on our unit circle.
p We can find any point on the circle given the corresponding angle through the same process as above. #[+m x=r\cos\theta y=r\cos\theta] When u\sing the unit circle, #[+m r=1], but we can do the same calculations with circles with larger radius by multiplying each function by the radius.
h6 Reference Angles
p The unit circle is equally as useful once we leave the first quadrant.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unit_3.jpg')
p By Kaboldy via #[a(href='https://commons.wikimedia.org/wiki/File:Unit-circle.jpg') Wikimedia Commons]
p The picture above shows the same triangle rotated to match each of the four possible quadrants. The key to finding the correct \sine and \co\sine when in quadrants #[+m 2−4] is to relate each angle to a #[strong reference angle].
p A reference angle is the smallest angle that brings you to the closest horizontal line, and is always between #[+m 0°] and #[+m 90°].
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/desmos-graph_61_11.png')
p Made with #[a(href='http://desmos.com') Desmos]
p The circle above shows the angle #[+m 150°]. The closest horizontal line is at #[+m 180°], so it's reference angle is #[+m 30°]. This means that the magnitude of its \co\sine and \sine are the same as for #[+m 30°].
p Checking with the unit circle, we can see that #[+m 150°] has a \co\sine of #[+m −√32] and a \sine of #[+m 12].
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unit_circle_3.png')
p By Gustavb via #[a(href='https://commons.wikimedia.org/wiki/File:Unit_circle_angles.svg') Wikimedia Commons]
p This matches our \co\sine and \sine for #[+m 30°], but it has a negative \sine as it is in the second quadrant.
| Report Share11Like
h5 Related Lessons
|  #[a(href='https://www.expii.com/t/s\tandard-position-of-an-angle-5217') S\tandard Position of an Angle]#[a(href='https://www.expii.com/t/converting-between-radians-and-degrees-5222') Converting Between Radians and Degrees]#[a(href='https://www.expii.com/t/graphing-reciprocal-trig-functions-5249') Graphing Reciprocal Trig Functions]#[a(href='https://www.expii.com/t/coterminal-and-reference-angles-5218') Coterminal and Reference Angles]#[a(href='https://www.expii.com/t/unit-circle-in-trigonometry-8908') View All Related Lessons] #[a(href='https://www.expii.com/user/154922'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/blue-neuron-on-blue-background.jpg')]#[a(href='https://www.expii.com/user/154922') Anusha Rahman]Video1
h6 (Video) How to Memorize the Unit Circle
p by NancyPi
img(alt="alt string" src='https://img.youtube.com/vi/c819bGfH8FA/hqdefault.jpg')
p This video by #[a(href='https://www.youtube.com/watch?v=c819bGfH8FA') NancyPi] gives you a good way to memorize the unit circle.
h6 Summary
p The unit circle has a radius of #[+m 1]. When we want to find an angle on the unit circle, we go counterclockwise, starting from the #[+m x]-axis. We're going to mainly talk in radians.
p The unit crosses crosses the #[+m x]- and #[+m y]-axes at four points.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unitcircle_axes.png')
p Image source: by Anusha Rahman
p The first place the unit circle crosses the #[+m x]-axis has an angle of #[+m 0]. If we rotate counterclockwise, the unit circle crosses the #[+m y]-axis at an angle of #[+m π2]. If rotate again counterclockwise, we get half the circle. The angle is #[+m π]. Rotating another quarter of a circle, we get an angle of #[+m 3π2]. If we move the last quarter of the circle, we've come full circle, so the angle is #[+m 2π].
p Next, we're going to look at the #[+m π4] angles. We'll divide each quarter of the unit circle into #[+m 2] equal parts.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unitcircle_eighths.png')
p Image source: by Anusha Rahman
p In the exact middle between #[+m 0] and #[+m π2], we will find the angle, #[+m π4]. Similarly, halfway between the angles #[+m π] and #[+m π2], we will find #[+m 3π4]. The same pattern continues around the circle. Note the pattern of #[+m 1,3,5,7].
p Next, we'll tackle the #[+m π6] angles.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unitcicle_sixths.png')
p Image source: by Anusha Rahman
p Let's first look at the first quadrant. One-third of #[+m π2] is #[+m π6]. The rest of the #[+m 6s] are #[+m 5π6], #[+m 7π6], and #[+m 11π6].
p Lastly, we have the #[+m π3]s.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unitcircle_thirds.png')
p Image source: by Anusha Rahman
p Our last pattern to look at is: #[+m π3], #[+m 2π3], #[+m 4π3], and #[+m 5π3].
p: strong What We Use the Unit Circle For
p We can use the unit circle when we are trying to find the \sine, \co\sine, and \tangent of angles. \Since each angle intersects the unit circle at one point, we can use trigonometry to solve problems with the unit circle easily.
| Report Share1Like#[a(href='https://www.expii.com/user/154922'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/blue-neuron-on-blue-background.jpg')]#[a(href='https://www.expii.com/user/154922') Anusha Rahman]Text1
h6 The Unit Circle
p Now that we've learned about trigonometric functions, it's time to learn about the unit circle!
p The unit circle can help you easily find the exact values of common \sine and \co\sine functions. Exact values means that the angles are in radians. It might be helpful to memorize the unit circle to help you more quickly solve trig problems!
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/unit_circle_5.png')
p Image source: by Anusha Rahman
p Your first instinct may be to read the unit circle in a clockwise manner, but it's actually read in a counterclockwise manner. Recall the #[a(href='https://www.expii.com/t/s\tandard-position-of-an-angle-5217') s\tandard position] of an angle!










hgroup 
	h3 Euler's Formula on Complex Numbers
	+source(links=['https://www.expii.com/t/eulers-formula-on-complex-numbers-5283'])
h6 Euler's Formula
dl
	dt: dfn Euler's Formula #[+m \phi \in \mathbb R :e^{i\phi}=\cos \phi+i\sin \phi]
	dd
		p.intro One of the most impor\tant contributions to complex analysis and it will be very helpful when you are trying to solve equations with complex numbers! When #[+m \phi = π], we get Euler's identity, #[+m e^(iπ) = -1, e^(iπ) + 1 = 0]. Isn't it amazing that the numbers #[+m e, i, π, 1, 0] are related in such a simple way?.
		figure
			img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/eulers_formula.png')
			p We can plot the complex number #[+m e^{i\phi}] on the unit circle, \since #[+m e^{i\phi}=\cos\phi+i\sin\phi].\Since the complex number #[+m e^{i\phi}] is on the unit circle, it has a #[a(href='https://expii.com/t/magnitude-of-a-complex-number-4944') magnitude] of #[+m 1] and it makes an angle of #[+m \phi] with the positive real axis. #[mark Vary #[+m \phi] you can plot every point on the unit circle]
			figcaption: h1 How Euler's Formula works in the complex plane

p At this point, we unders\tand expressions such as #[+m ab], for real numbers #[+m a] and #[+m b]. Now let's think about how we evaluate #[+m az], for a complex number #[+m z].
p At first, this question may seem unmotivated and nonsensical, but extending exponents to the complex numbers has many uses in math and physics. It is a wonderful example of the power of math to unify different concepts. Complex exponents unify geometry and complex numbers, for example, and allow us to see a "bigger picture" when investigating AC circuits in physics.
p Complex exponents do not make much sense given the traditional definition of exponents. However, as with other problems, we begin with what we do know. Any complex number #[+m z] can be written as #[+m x+yi], for real #[+m x] and #[+m y]. As a result, #[+m az] becomes #[+m ax+yi].
p Now, we need a good definition for what this should be. We start from the basics: we still want #[+m ep+q=epeq] even for complex exponents. As a result,
p: +m az=ax+yi=axayi.
p We can handle #[+m ax], \since #[+m a] and #[+m x] are real. But #[+m ayi] just seems unreal.
p Euler's equation (one of numerous) answers just this question. It is a jewel of mathematics. We claim that
p: +m e^{i\theta}=\cos\theta+i\sin\theta.
p At this point, you may already guess at the aforementioned connections between complex numbers and geometry. Let's look at where this equation comes from.
p It is impor\tant to keep in mind that this is a definition for #[+m e^{i\theta}]. It is, in fact, the best definition.
p A knowledge of calculus helps to explain Euler's formula, but feel free to take this on faith for now (as this is Algebra 2). We have, #[a(href='https://www.expii.com/t/examples-of-taylor-series-of-common-functions-346') from the theory of Taylor series], that #[+m ez=1+z+z22!+z33!+z44!+...] #[+m \cosz=1−z22!+z44!−z66!...] #[+m \sinz=z−z33!+z55!−z77!...,]
p for all complex numbers #[+m z].
p Now, let #[+m z=i\theta] in the first equation above. Consider the sum of all the even powers of #[+m \theta] in this expansion.
p The sum of the even powers of #[+m \theta] in #[+m e^{i\theta}] is exactly #[+m \cos\theta] ! Also verify that the sum of the odd powers of #[+m \theta] is #[+m i\sin\theta].
p One of the wonderful things about this formula is that the trigonometric functions can be redefined in terms of complex exponents.
| Report Share4Like#[a(href='https://www.expii.com/user/154922'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/blue-neuron-on-blue-background.jpg')]#[a(href='https://www.expii.com/user/154922') Anusha Rahman]Text1
h6 Euler's Formula for Complex Numbers
p We are familiar with Euler's Identity with rec\tangular coordinates, but something happens when we add complex numbers to the mix: the formula changes!
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/euler_complex.jpg')
p Image source: by Anusha Rahman
p Remember that:
ul
	li: p #[+m i] signifies the imaginary number/imaginary component.
	li: p We've incorporated the #[a(href='https://www.expii.com/t/polar-form-of-a-complex-number-9208') polar form of a complex number].
| Report Share1LikeYou've reached the endTOPHow can we improve?close




























hgroup 
	h3 Exponential Form of a Complex Number
	+source(links=['https://www.expii.com/t/exponential-form-of-a-complex-number-9210'])
| If you have a complex number z = r(\cos(\theta) + i \sin(\theta)) written in polar form, you can use Euler's formula to write it even more concisely in exponential form: z = re^(i\theta).
header #[a(href='https://www.expii.com/'): img(alt="alt string" src='https://www.expii.com/static/media/logoWhite.edf93e78.svg')]
	img(alt="alt string" src='https://www.expii.com/static/media/logoWhite.edf93e78.svg')
	| #[a(href='https://www.expii.com/') Home]Log inSign upSearch for math and science topicsSearch for topics
| #[a(href='https://www.expii.com/t/algebra-4712') Algebra 2]#[a(href='https://www.expii.com/t/polar-coordinates-with-complex-numbers-and-exponentials-9207') Polar Coordinates with Complex Numbers and Exponentials]
h3 Exponential Form of a Complex Number
| If you have a complex number z = r(\cos(\theta) + i \sin(\theta)) written in polar form, you can use Euler's formula to write it even more concisely in exponential form: z = re^(i\theta).Exponential Form of a Complex Number#[a(href='https://www.expii.com/t/exponential-form-of-a-complex-number-9210') Go to Topic]
h4 Explanations (4)
| #[a(href='https://www.expii.com/user/33813'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/img_5275.jpg')]#[a(href='https://www.expii.com/user/33813') Caroline K]Text14
p #[+m Exponential Form of a Complex Number] #[em Exponential form] of a complex number looks like this: #[+m z=re^{i\theta}]
p We are going to derive this. Let's start by remembering how to write a complex number in polar form: #[+m z=r(\cos\theta+i\sin\theta)]
p Next, recall Euler's Formula: #[+m e^{i\theta}=\cos\theta+i\sin\theta]
p U\sing Euler's Formula, we can replace the #[+m \cos\theta+i\sin\theta] in our polar form representation with an #[+m e^{i\theta}] to obtain the exponential form of a complex number. #[+m z=r(\cos\theta+i\sin\theta)⇒z=re^{i\theta}]
p It's easy to multiply and divide complex numbers when they're in exponential form! We just need to use our exponent rules to help us.
p Consider the following complex numbers in exponential form: #[+m z=ae^{i\theta w}=beiϕ]
p: +m Multiplying Complex Numbers in Exponential Form
p First, let's find #[+m zw.] #[+m zw=ae^{i\theta⋅beiϕ}=abe^{i\theta eiϕ}]
p Here, we can use our knowledge of #[a(href='https://www.expii.com/t/adding-integer-exponents-product-rule-9167') exponent rules]. \Since #[+m e^{i\theta}] and #[+m eiϕ] have the same base, we add their exponents when finding their product.
p: +m zw=ae^{i\theta⋅beiϕ}=abe^{i\theta eiϕ}=abe^{i\theta}+iϕ, by our exponent rule for multiplication=abei(\theta+ϕ)
p So, for complex numbers #[+m z=ae^{i\theta}] and #[+m w=beiϕ] in exponential form, their product, #[+m zw=abei(\theta+ϕ).]
p: +m Dividing Complex Numbers in Exponential Form
p Next, let's find #[+m zw.] #[+m zw=ae^{i\theta beiϕ}=abe^{i\theta eiϕ}]
p Here, we can use our knowledge of #[a(href='https://www.expii.com/t/subtracting-integer-exponents-quotient-rule-9168') exponent rules]. \Since #[+m e^{i\theta}] and #[+m eiϕ] have the same base, we use subtraction when finding their quotient.
p: +m zw=ae^{i\theta beiϕ}=abe^{i\theta eiϕ}=abe^{i\theta−iϕ}, by our exponent rule for division=abei(\theta−ϕ)
p So, for complex numbers #[+m z=ae^{i\theta}] and #[+m w=beiϕ] in exponential form, their quotient, #[+m zw=abei(\theta−ϕ).]
p Let's do an example to practice what we've learned!
| Report Share14Like
h5 Related Lessons
|  #[a(href='https://www.expii.com/t/what-are-roots-of-unity-10912') What Are Roots of Unity?]#[a(href='https://www.expii.com/t/de-moivres-theorem-9211') De Moivre's Theorem]#[a(href='https://www.expii.com/t/multiplying-and-dividing-complex-numbers-in-polar-form-10607') Multiplying and Dividing Complex Numbers in Polar Form]#[a(href='https://www.expii.com/t/polar-coordinates-with-complex-numbers-and-exponentials-9207') View All Related Lessons] #[a(href='https://www.expii.com/user/610'): svg: text S]#[a(href='https://www.expii.com/user/610') Sujay Kazi]Text2
p The exponential form of a complex number is a very simple extension of its polar form. Recall that the polar form of a complex number #[+m z] is: #[+m z=r(\cos\theta+i\sin\theta)=r\cis\theta] The last expression is just a convenient shorthand for the middle expression.
p Euler's Formula tells us that: #[+m e^{i\theta}=\cos\theta+i\sin\theta] Thus, we can write: #[+m z=re^{i\theta}]
p The exponential form of a complex number is nothing more or less than a more powerful version of the polar form. The information encapsulated in the quantities #[+m r] and #[+m \theta] is still there in almost exactly the same form. However, the exponential form allows us to make multiplication with complex numbers a piece of cake.
p Just as an example, recall our formula for multiplying two complex numbers: #[+m() (r\cisα)(s\cisβ)=rs\cis(α+β)] Well, with exponential form, watch what happens: #[+m() (r\cisα)(s\cisβ)=(reiα)(seiβ)] #[+m() (r\cisα)(s\cisβ)=rsei(α+β)] #[+m() (r\cisα)(s\cisβ)=rs\cis(α+β)] Our seemingly incredible result now looks almost trivial in light of the even more incredible Euler's Identity.
p There are many examples of the power of the exponential form, far too many to show here. Some of them may be demonstrated in the practice problems.
| Report Share2Like#[a(href='https://www.expii.com/user/154922'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/blue-neuron-on-blue-background.jpg')]#[a(href='https://www.expii.com/user/154922') Anusha Rahman]Video1
h6 (Video) Complex Numbers - Exponential Form
p by ExamSolutions
img(alt="alt string" src='https://img.youtube.com/vi/e4KM13j2wgw/hqdefault.jpg')
p In this video by #[a(href='https://www.youtube.com/watch?v=e4KM13j2wgw') ExamSolutions], you will learn how to express a complex number in exponential form.
| Report Share1Like#[a(href='https://www.expii.com/user/154922'): img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/blue-neuron-on-blue-background.jpg')]#[a(href='https://www.expii.com/user/154922') Anusha Rahman]Text1
h6 Exponential Form of a Complex Number
p We can use the s\tandard form for a complex number in s\tandard form, along with Euler's Formula, to derive the exponential form of a complex number.
img(alt="alt string" src='https://d20khd7ddkh5ls.cloudfront.net/exponential_complex_number.jpg')



























hgroup 
	h3 Polar Form of a Complex Number
	+source(links=['https://www.intmath.com/complex-numbers/4-polar-form.php'])
p(title="Why Polar Form?") It's normally much easier to multiply and divide complex numbers if they are in #[em polar form].
img(alt="alt string" src="https://www.intmath.com/complex-numbers/svg/svgphp-polar-form-4-s0.svg")
img(alt="alt string" src="https://www.intmath.com/complex-numbers/img/Image268.gif")
p With complex number #[+m a+bi] we find the real (horizontal) and imaginary (vertical) components in terms of #[+m r = \sqrt{a^2+b^2}] #[small from Pythagoras] - the length of the vector,  #[small basic trigonometry gives us] #[+m \theta = \arctan{\frac ba}] - the angle made with the real axis, and coordinates #[+m a=r \cos\theta\quad b=r\sin\theta; bi=ir\sin\theta]. So we can write the #[b polar form] of a complex number as: #[+m({'r':'absolute value or modulus','\\theta': 'the argument'}) a+bi=r(\cos\theta+i\sin\theta) = r\cis \theta = r \angle \theta].
p.note When writing a complex number in polar form, the angle+m[em \theta] can be in DEGREES or RADIANS.
dl

	dt Find the polar form and represent graphically the complex number #[+m 7−5i]
	dd
		ol
			li Find #[+m r=\sqrt{a^2+b^2} = \sqrt{7^2 +(-5)^2} = \sqrt{49+25} = \sqrt{74} \approx 8.6] 
			li Find acute angle α: #[+m \alpha = \tan^(-1)(y/x) = \tan^(-1)(5/7) \approx 35.54°].
			li Now, #[+m 7−5i] is in the #[b fourth quadrant], so: #[+m \theta = 360° - 35.54° = 324.46°]
			li So, expressing #[+m 7−5i] in #[b polar form], we have: #[+m 7-5i = 8.6 (\cos 324.5° + i\ \sin\ 324.5°)]
			p We could also write this answer as #[+m 7 - 5i = 8.6\ "\cis"\ 324.5°].
			p Also we could write: #[+m 7 - 5i = 8.6 ∠ 324.5°]
			p The graph is as follows:
			img(alt="alt string" src="https://www.intmath.com/complex-numbers/img/Image483.gif")
			p The complex number #[+m 7−5i]
	dt Express #[+m 3(\cos232°+j\sin232°)\displaystyle{3}{\left({ \cos{{232}}^{\circ}+}{j} \sin{{232}}^{\circ}\right)}3(\cos232°+j\sin232°)] in rec\tangular form.
	p Answer
	p This is how the complex number looks on an Argand diagram. The dis\tance from the origin is `3` and the angle from the positive `R` axis is `232°`.
	p: a(href='https://www.intmath.com/complex-numbers/img/Image71.gif') The complex number `3(\cos 232°+ j \sin 232°)`.
	p To get the required answer, we simply multiply out the expression: 3(\cos 232° +j\ \sin 232°) = 3\ \cos 232° + j (3\ \sin 232°) = -1.85 - 2.36j
	h5 Exercises
	p #[b 1.]Represent #[+m 1+j3\displaystyle{1}+{j}\sqrt{{3}}1+j3] graphically and write it in polar form.
	p Answer
	p: a(href='https://www.intmath.com/complex-numbers/img/Image271.gif') The complex number `1 + jsqrt(3)`.
	blockquote \theta = arc\tan(sqrt(3)/1) = 60° r = sqrt((sqrt(3))^2 + 1^2) = sqrt(4) = 2
	p (We recognise this triangle as our #[a(href='https://www.intmath.com/trigonometric-functions/3-values-trigonometric-functions.php') 30-60 triangle] from before.)
	p So 1 + j sqrt 3 = 2\ ∠\ 60°` ` = 2(\cos 60° + j\ \sin 60°)
	p #[b 2.]Represent #[+m 2−j2\displaystyle\sqrt{{2}}-{j}\sqrt{{2}}2−j2] graphically and write it in polar form.
	p Answer
	p: a(href='https://www.intmath.com/complex-numbers/img/Image272.gif') The complex number `sqrt(2) - jsqrt(2)`. r=sqrt{a^2+b^2} = sqrt( (sqrt(2))^2 +(sqrt(2))^2) = sqrt(2+2) = sqrt(4) =2
	p To find `\theta`, we first find the acute angle `alpha`: alpha = \tan^(-1)(y/x) =\tan^(-1)(sqrt(2)/(sqrt(2))) ~~ 45°
	p The complex number is in the 4th quadrant, so blockquote: \theta = 360° - 45° = 315°
	p So we can write: sqrt2 - jsqrt2 = 2\ ∠\ 315° = 2(\cos315° + j\sin315°)
	p #[b 3.]Represent graphically and give the rec\tangular form of #[+m 6(\cos180°+j \sin180°)\displaystyle{6}{\left({ \cos{{180}}^{\circ}+}{j}\ \sin{{180}}^{\circ}\right)}6(\cos180°+j \sin180°)].
	p Answer
	p: a(href='https://www.intmath.com/complex-numbers/img/minus6.gif') The complex number `6(\cos 180°+ j\ \sin 180°)`.
	p We can read the rec\tangular form of this number from the graph. 6(\cos 180° + j\ \sin 180°) = -6
	p #[b 4.]Represent graphically and give the rec\tangular form of #[+m 7.32∠−270°\displaystyle{7.32}\angle-{270}^{\circ}7.32∠−270°]
	p Answer
	p: a(href='https://www.intmath.com/complex-numbers/img/Image486.gif') The complex number `7.32 ∠ -270°`.
	p Once again, a quick look at the graph tells us the rec\tangular form of this complex number. 7.32\ ∠ -270°= 7.32j
h4 And the good news is...
img(alt="alt string" src='https://www.intmath.com/complex-numbers/img/calculator.gif')
p Now that you know what it all means, you can use your calculator directly to convert from #[b rec\tangular to polar] forms and in the other direction, too.
blockquote: p #[a(href='https://www.intmath.com/complex-numbers/rp-pr-calculator.php') How to convert polar to rec\tangular u\sing hand-held calculator].
h5 Online Polar Calculator
p Also, don't miss this interactive polar converter graph, which converts from polar to rec\tangular forms and vice-versa, and helps you to unders\tand this concept:
blockquote: p: a(href='https://www.intmath.com/complex-numbers/convert-polar-rec\tangular-interactive.php') Online polar to rec\tangular calculator












h3 Polar Coordinates
p: a(href='https://www.intmath.com/plane-analytic-geometry/img/Image2886sm.gif') A graph u\sing polar coordinates
p For certain functions, rec\tangular coordinates (those u\sing #[i x]-axis and #[i y]-axis) are very inconvenient. In rec\tangular coordinates, we describe points as being a certain dis\tance along the #[i x]-axis and a certain dis\tance along the #[i y]-axis.
p But certain functions are very complicated if we use the rec\tangular coordinate system. Such functions may be much simpler in the #[b polar coordinate system], which allows us to describe and graph certain functions in a very convenient way.
p Polar coordinates work in much the same way that we have seen in #[a(href='https://www.intmath.com/trigonometric-functions/8-applications-of-radians.php') trigonometry] (radians and arc length, where we used #[i r] and #[+m \theta]) and in the polar form of #[a(href='https://www.intmath.com/complex-numbers/4-polar-form.php'): b complex numbers] (where we also saw #[i r] and #[+m \theta]).
p #[b Vectors] also use the same idea. [See more in the #[a(href='https://www.intmath.com/vectors/3-vectors-2-dimensions.php') Vectors in 2 Dimensions] section.]
h5 Later, on this page...
p Converting polar and rec\tangular coordinates
p In polar coordinates, we describe points as being a certain #[b dis\tance] (#[i r]) from the #[b pole] (the origin) and at a certain #[b angle] (\theta) from the positive horizontal axis (called the #[b polar axis]).
p The coordinates of a point in polar coordinates are written as
blockquote: p (#[i r], #[+m \theta])
p The graph of the point (#[i r], #[+m \theta]) is as follows:
blockquote: p: noscript: img(alt="alt string" src='https://www.intmath.com/plane-analytic-geometry/img/Image2880.gif')
h5 Example 1
p The point described in polar coordinates by `(2, (3π)/4)` would look like this:
blockquote: p: noscript: img(alt="alt string" src='https://www.intmath.com/plane-analytic-geometry/img/Image2881.gif')
p We use #[b polar graph paper] for drawing points in polar coordinates.
p #[b NOTE:] Angles can be in degrees #[strong or] radians for polar coordinates.
h5 Example 2
p Plot the points on the following polar grid:
p a) (2, 60°) b) (4, 165°) c) (3, 315°)
p: noscript: img(alt="alt string" src='https://www.intmath.com/plane-analytic-geometry/img/polar-mt.gif')
p Answer
p: noscript: img(alt="alt string" src='https://www.intmath.com/plane-analytic-geometry/img/polar-ans.gif')
h4 Converting Polar and Rec\tangular Coordinates
p The conversion from polar to rec\tangular coordinates is the same idea as converting #[b rec\tangular form] to #[b polar form] in #[b complex numbers].
p We've created an #[a(href='https://www.intmath.com/complex-numbers/convert-polar-rec\tangular-interactive.php') Polar to Rec\tangular Calculator] that makes converting complex numbers in polar form to rec\tangular form easy if you don't have a handheld calculator.
p We've written an overview for how to #[a(href='https://www.intmath.com/complex-numbers/rp-pr-calculator.php') convert rec\tangular and polar forms] u\sing various handheld calculators in the complex numbers chapter.
blockquote: p: noscript: img(alt="alt string" src='https://www.intmath.com/plane-analytic-geometry/img/Image2883.gif')
p From Pythagoras, we have: #[i r] = #[i x] + #[i y] and basic trigonometry gives us \tan\ theta=y/x` #[i x] = #[i r] \cos+m[em \theta] #[i y] = #[i r] \sin+m[em \theta
p So it is the same type of thing that we had with complex numbers.
p We can use calculator directly to find the equivalent values.
h5 Example 3
p Convert the rec\tangular coordinates given by `(2.35, -7.81)` into polar coordinates.
p Answer
p U\sing calculator, we have blockquote: (2.35, -7.81)` rec\tangular ≡ `(8.16, -73.3°)
p #[strong Sketch] to check your answer!
p (The sign " ≡ " means "#[strong is identically equal to]".)
h5 Example 4
p Convert the polar coordinates given by `(4.27, 168°)` into rec\tangular coordinates.
p Answer
p U\sing calculator, we have:
blockquote: p (4.27, 168) polar ≡ (−4.18, 0.888) rec\tangular
p #[strong Sketch] to check your answer!
