hgroup 
	h3 Делители и кратные числа, определения и примеры.
	+source(links=['http://www.cleverstudents.ru/divisibility/divisors_and_multiples.html'])
h4 Делители числа – определение, примеры
dl
	dt: dfn Делитель #[+m \forall b] целого числа #[+m a \in \mathbb Z]
	dd: p Число #[+m b], на которое #[+m a] делится нацело: #[+m \frac ab \in \mathbb Z].
	dd: p Число #[+m b], если существует такое целое число #[+m q], что справедливо равенство #[+m a=b\cdot q]: #[+m \exists q \in \mathbb Z: a=b\cdot q].
	p Если целое число b является делителем целого числа a, то говорят, что b делит a, при этом используют краткую запись вида b|a(b\a).
	dd
	dt: dfn Кратное #[+m \forall a] целого числа #[+m b \in \mathbb Z]
	dd 
		p Целое число #[+m \forall a], которое делится на #[+m b \in \mathbb Z] нацело: #[+m \frac ab \in \mathbb Z].  #[eg кратное целого числа #[+m b] – это такое целое число #[+m a], которое может быть представлено в форме #[+m({'q':'целое число'}) a=b·q]].
		p Если a является кратным целого числа b, то говорят, что a кратно b. При этом применяют обозначение #[+m a \vdots b].
		p Определение кратного и делимого явно указывает на существующую между ними связь. Действительно, по определению если a – кратное числа b, то b – делитель числа a, и наоборот, если b – делитель числа a, то a – кратное числа b.
		p Приведем #[strong примеры кратных]. Например, целое число −12 есть кратное числа 3, так как −12=3·(−4). Другими кратными числа 3 являются целые числа 0, 3, −3, 6, −6, 9, −9 и так далее. А вот число 7 не является кратным целого числа 3, так как 7 не делится на 3 без остатка, то есть, не существует такого целого числа q, чтобы выполнялось равенство 7=3·q.
		p Из определения кратного числа понятно, что нуль является кратным любого целого числа b, в том числе и нуля. Равенство 0=b·0 в этом случае выглядит очень доказательно.
		p Отметим, что существует бесконечно много кратных любого целого числа b, так как целых чисел бесконечно много, и любое целое число, равное произведению b·q, где q – произвольное целое число, является кратным числа b.
		p Наименьшим положительным кратным данного положительного числа a является само это число a. Здесь же стоит обратить внимание на то, что наименьшее положительное кратное не стоит путать с #[a(href='http://www.cleverstudents.ru/divisibility/nok.html') наименьшим общим кратным (НОК)] нескольких чисел.
		p Дальше мы можем рассматривать лишь натуральные кратные целых положительных чисел. Это мы можем делать в силу тех же причин, которые были упомянуты в первом пункте этой статьи, при этом общность изложения не будет нарушена.


p Из определения делителя целого числа и #[a(href='http://www.cleverstudents.ru/numbers/properties_of_operations_with_integers.html#multiplication') свойств умножения целых чисел] следует, что любое целое число делится на себя и на единицу, так как #[+m a=a·1=1·a]. На основании свойств умножения целых чисел можно записать равенства #[+m a=(−a)·(−1)=(−1)·(−a)], из которых следует, что числа −a и −1 также являются делителями целого числа a. Таким образом, числа a, −a, 1 и −1 всегда являются делителями целого числа a #[span.example делителями числа 15 являются числа 15, −15, 1 и −1].
	| #[br] Отдельно нужно сказать о делителях целых чисел 0, 1 и −1. Вспомнив #[a(href='http://www.cleverstudents.ru/divisibility/divisibility.html#properties') свойства делимости], заключаем, что делителем нуля является любое целое число, в том числе и нуль, а делителями единицы и минус единицы являются только числа 1 и −1. Итак, целое число 0 имеет бесконечно много делителей, ими являются любые целые числа, числа 1 и −1 имеют только два делителя – единицу и минус единицу, а любое другое целое число a (кроме −1, 0 и 1) имеет, по крайней мере, четыре делителя: a, −a, 1 и −1. #[span.example Число −2 является делителем числа 8, так как верно равенство 8=(−2)·(−4). Делителями целого числа 8 являются также числа −8, −4, −1, 1, 2, 4, 8. А вот число −3 не является делителем числа 8, так как не существует целого числа #[+m q] такого, чтобы выполнялось условие #[+m 8=(−3)·q] #[eg возможно только #[a(href='http://www.cleverstudents.ru/numbers/division_of_integers_with_remainder.html') деление с остатком целых чисел] 8 и −3]. Вообще, ни одно целое число, кроме −8, −4, −2, −1, 1, 2, 4, 8, не является делителем 8]. В примерах видно что делителями целого числа могут быть как целые положительные, так и целые отрицательные числа. Это утверждение обосновывается следующим свойством делимости: если целое число b является делителем целого числа a, то −b (b и −b – #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') противоположные числа]) также является делителем числа a. 
p.note Мы можем рассматривать лишь положительные делители чисел, но при этом помнить, что все целые числа, противоположные положительным делителям данного числа, также являются делителями этого числа.
p Напомним еще одно свойство делимости: если целое число b является делителем целого числа a, то b также является делителем целого числа −a. Из него следует, что множества делителей чисел a и −a совпадают. Поэтому, отдавая дань краткости и простоте, мы будем рассматривать лишь делители целых положительных чисел.
p Учитывая информацию двух предыдущих абзацев, дальше можно рассматривать лишь положительные делители целых положительных чисел (#[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральных чисел]).
p Натуральное число 1 имеет единственный положительный делитель – это число 1. Этот факт отличает единицу от других натуральных чисел, так как натуральные числа, отличные от единицы, имеют не менее двух делителей, а именно себя самого и 1. В зависимости от отсутствия или наличия делителей, отличных от самого натурального числа и от единицы, различают #[a(href='http://www.cleverstudents.ru/divisibility/prime_and_composite_numbers.html') простые и составные числа].
p Единица является наименьшим положительным делителем натурального числа a, отличного от 1, а само число a является наибольшим положительным делителем (о наибольшем и наименьшем числе мы говорили в разделе #[a(href='http://www.cleverstudents.ru/numbers/comparison_of_natural_numbers.html#double_inequalities') сравнение трех и большего количества натуральных чисел]). То есть, для любого натурального числа a любой его положительный делитель b удовлетворяет условию #[+m 1\le b \le a].
p Здесь же заметим, что особую роль имеет #[a(href='http://www.cleverstudents.ru/divisibility/nod.html') наибольший общий делитель – НОД].











hgroup 
	h3 Противоположные числа: определение, обозначение, примеры.
	+source(links=['http://www.cleverstudents.ru/numbers/opposite_numbers.html'])
p Получить представление о противоположных числах нам поможет #[a(href='http://www.cleverstudents.ru/vectors/coordinate_line.html') координатная прямая].
p Отметим на координатной прямой какую-нибудь точку М, отличную от начала отсчета. Попасть в точку М мы можем, последовательно откладывая от начала отсчета в направлении точки М единичный отрезок, а также его десятую, сотую и так далее доли. Если же мы отложим такое же количество единичных отрезков и его долей в противоположном направлении, то мы попадем в другую точку, обозначим ее буквой N. Приведем пример, иллюстрирующий наши действия (смотрите рисунок ниже). Чтобы попасть в точку М на координатной прямой мы отложили в отрицательном направлении два единичных отрезка и 4 отрезка, составляющих десятую долю единичного. Теперь отложим два единичных отрезка и 4 отрезка, составляющих десятую долю единичного, в положительном направлении. Так мы получим точку N.
img(src='http://www.cleverstudents.ru/numbers/images/opposite_numbers/001.png')
p Мы уже почти готовы к восприятию определения противоположных чисел, осталось лишь обговорить пару нюансов.
p Мы знаем, что каждой точке координатной прямой соответствует единственное #[a(href='http://www.cleverstudents.ru/numbers/real_numbers.html') действительное число], следовательно, и точке М и точке N соответствуют некоторые действительные числа. Так вот числа, соответствующие точкам М и N, и называются противоположными.
p Отдельно надо сказать о точке O – начале отсчета. Точке O соответствует число 0. Число нуль принято считать противоположным самому себе.
dl
	dt: dfn Противоположное число #[+m -a] числу #[+m a]
	dd 
		p Число в точку на координатной прямой которого можно попасть, отложив от начала отсчета в противоположное направление одинаковое количество единичных отрезков, а также долей единичного отрезка #[span.example: +m 0, -0; 24, -24; −25, −(−25)=25; 17, −17, −17, 17; 3\frac 23, -3\frac 23; 5.126, −5.126; \sqrt 1 + 2, -(\sqrt 1 + 2) = -\sqrt 1 - 2; e,-e]. #[mark Число 0 противоположно самому себе]
		ul(title="Результаты, характерные для противоположных чисел")
			li
				p Число, противоположное положительному числу, отрицательно, а число, противоположное отрицательному числу, положительно #[eg точки координатной прямой, соответствующие противоположным числам, находятся по разные стороны от начала отсчета].
				p Из озвученного утверждения выделим один очень важный результат, который с помощью букв записывается так: #[b −(−a)=a], где a – любое положительное число. Поясним этот момент на примере. По координатной прямой видно, что числу 7 противоположно число −7, а числу −7 противоположно число 7. Но принятые нами обозначения противоположных чисел вынуждают нас записать число, противоположное −7, как −(−7). Следовательно, −(−7)=7, и вообще −(−a)=a. Отсюда можно заключить, что записи противоположных чисел отличаются лишь знаком минус.
			li: p свойству симметричности, которое также вытекает из определения противоположных чисел: #[b если число a противоположно числу b, то b противоположно a]. Здесь комментарии излишни.
			li: p #[b для каждого действительного числа есть единственное противоположное число]. Оно базируется на том, что данной точке координатной прямой соответствует единственное действительное число.
			li: p Из #[a(href='http://www.cleverstudents.ru/modulus/modulus_of_number.html#definition') определения модуля числа] вытекает, что #[b модули противоположных чисел равны]. Действительно, точки координатной прямой, соответствующие противоположным числам, находятся на одинаковом расстоянии от начала отсчета.
			li: p Наконец, #[b сумма противоположных чисел равна нулю]. Запишем последнее изречение в буквенном виде: #[b a+(−a)=0]. Приведем несколько примеров. Сумма противоположных чисел 109 и −109 равна 0, сумма −54,43+54,43 равна нулю, результатом сложения противоположных чисел 
				img(src='http://www.cleverstudents.ru/numbers/images/opposite_numbers/008.png')
				| и 
				img(src='http://www.cleverstudents.ru/numbers/images/opposite_numbers/009.png')
				| также является нуль.


















hgroup 
	h3 Положительные и отрицательные числа, определение, примеры.
	+source(links=['http://www.cleverstudents.ru/numbers/positive_and_negative_numbers.html'])
h4 Положительные и отрицательные числа – определения и примеры
p Дать #[strong определение положительных и отрицательных чисел] нам поможет #[a(href='http://www.cleverstudents.ru/vectors/coordinate_line.html') координатная прямая]. Для удобства будем считать, что она расположена горизонтально и направлена слева направо.
p Определение.
p Числа, которые соответствуют точкам координатной прямой, лежащим правее начала отсчета, называют #[b положительными].
p Определение.
p Числа, которые соответствуют точкам координатной прямой, лежащим левее начала отсчета называю #[b отрицательными].
p Число нуль, соответствующее началу отсчета, не является ни положительным, ни отрицательным числом.
p Из определения отрицательных и положительных чисел следует, что множество всех отрицательных чисел представляет собой множество чисел, противоположных всем положительным числам (при необходимости смотрите статью #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') противоположные числа]). Следовательно, отрицательные числа всегда записываются со знаком минус.
p Теперь, зная определения положительных и отрицательных чисел, мы с легкостью можем привести #[strong примеры положительных и отрицательных чисел]. Примерами положительных чисел являются #[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральные числа] 5 , 792 и 101 330, да и вообще любое натуральное число является положительным. Примерами положительных #[a(href='http://www.cleverstudents.ru/numbers/rational_numbers.html') рациональных чисел] являются числа 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/001.png')
	| , 4,67 и 0,(12)=0,121212..., а отрицательных – числа 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/002.png')
	| , −11, −51,51 и −3,(3). В качестве примеров положительных #[a(href='http://www.cleverstudents.ru/numbers/irrational_numbers.html') иррациональных чисел] можно привести число пи, число e, 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/003.png')
	| и бесконечную непериодическую десятичную дробь 809,030030003…, а примерами отрицательных иррациональных чисел являются числа минус пи, минус e и число, равное #[a(href='http://www.cleverstudents.ru/expressions/finding_value_of_expression.html') значению числового выражения] 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/004.png')
	| . Следует отметить, что в последнем примере отнюдь не очевидно, что значение выражения 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/004.png')
	| является отрицательным числом. Чтобы это узнать наверняка, нужно получить значение этого выражения в виде десятичной дроби, а как это делается, мы расскажем в статье #[i сравнение действительных чисел].
p Иногда перед положительными числами записывается знак плюс, также как перед отрицательными числами записывается знак минус. В этих случаях следует знать, что +5=5, 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/005.png')
	| и т.п. То есть, +5 и 5 и т.п. – это одно и то же число, но по-разному обозначенное. Более того, можно встретить определение положительных и отрицательных чисел, на основании знака плюс или минус.
p Определение.
p Числа со знаком плюс называют #[b положительными], а со знаком минус – #[b отрицательными].
p Существует еще одно определение положительных и отрицательных чисел, основанное на сравнении чисел. Чтобы дать это определение, достаточно лишь вспомнить, что точка на координатной прямой, соответствующая большему числу, лежит правее точки, соответствующей меньшему числу.
p Определение.
p #[b Положительные числа] – это числа, которые больше нуля, а #[b отрицательные числа] – это числа, меньшие нуля.
p Таким образом, нуль как бы отделяет положительные числа от отрицательных.
p Конечно же, следует еще остановиться на правилах чтения положительных и отрицательных чисел. Если число записано со знаком + или −, то произносят название знака, после чего произносят число. Например, +8 читается как плюс восемь, а 
	img(src='http://www.cleverstudents.ru/numbers/images/positive_and_negative_numbers/006.png')
	| - как минус одна целая две пятых. Названия знаков + и − не склоняются по падежам. Примером правильного произношения является фраза «a равно минус трем» (не минусу трем).
| К началу страницы
h4 Интерпретация положительных и отрицательных чисел
p Мы уже достаточно долго описываем положительные и отрицательные числа. Однако неплохо было бы знать, какой смысл они несут в себе? Давайте разберемся с этим вопросом.
p Положительные числа можно интерпретировать как приход, как прибавку, как увеличение какой-либо величины и тому подобное. Отрицательные числа, в свою очередь, означают строго противоположное – расход, недостаток, долг, уменьшение какой-либо величины и т.п. Разберемся с этим на примерах.
p Можно сказать, что мы обладаем 3 предметами. Здесь положительное число 3 указывает количество находящихся у нас предметов. А как можно интерпретировать отрицательное число −3? Например, число −3 может означать, что мы должны кому-нибудь отдать 3 предмета, которых у нас даже нет в наличии. Аналогично можно сказать, что в кассе нам выдали 3,45 тысяч рублей. То есть, число 3,45 связано с нашим приходом. В свою очередь отрицательное число −3,45 будет указывать на уменьшение денег в кассе, выдавшей эти деньги нам. То есть, −3,45 – это расход. Еще пример: повышение температуры на 17,3 градуса можно описать положительным числом +17,3, а понижение температуры на 2,4 можно описать с помощью отрицательного числа, как изменение температуры на −2,4 градуса.
p Положительные и отрицательные числа часто используются для описания значений каких-либо величин в различных измерительных приборах. Самым доступным примером является прибор для измерения температур – термометр - со шкалой, на которой записаны и положительные и отрицательные числа. Часто отрицательные числа изображают синим цветом (он символизирует снег, лед, а при температуре ниже нуля градусов Цельсия начинает замерзать вода), а положительные числа записывают красным цветом (цвет огня, солнца, при температуре выше нуля градусов начинает таять лед). Запись положительных и отрицательных чисел красным и синим цветом используют и в других случаях, когда нужно особо выделить знак чисел.







hgroup 
	h3 Иррациональные числа, определение, примеры.
	+source(links=['http://www.cleverstudents.ru/numbers/irrational_numbers.html'])
h4 Определение и примеры иррациональных чисел
p При изучении #[a(href='http://www.cleverstudents.ru/numbers/decimal_fractions.html') десятичных дробей] мы отдельно рассмотрели бесконечные непериодические десятичные дроби. Такие дроби возникают при #[a(href='http://www.cleverstudents.ru/numbers/decimal_fractions.html#on_coordinate_ray') десятичном измерении] длин отрезков, несоизмеримых с единичным отрезком. Также мы отметили, что бесконечные непериодические десятичные дроби не могут быть переведены в обыкновенные дроби (смотрите #[a(href='http://www.cleverstudents.ru/numbers/from_decimals_to_common_fractions_and_back.html') перевод обыкновенных дробей в десятичные и обратно]), следовательно, эти числа не являются #[a(href='http://www.cleverstudents.ru/numbers/rational_numbers.html') рациональными числами], они представляют так называемые иррациональные числа.
p Так мы подошли к #[strong определению иррациональных чисел].
p Определение.
p Числа, которые в десятичной записи представляют собой бесконечные непериодические десятичные дроби, называются #[b иррациональными числами].
p Озвученное определение позволяет привести #[strong примеры иррациональных чисел]. Например, бесконечная непериодическая десятичная дробь 4,10110011100011110000… (количество единиц и нулей каждый раз увеличивается на одну) является иррациональным числом. Приведем еще пример иррационального числа: −22,353335333335… (число троек, разделяющих восьмерки, каждый раз увеличивается на две).
p Следует отметить, что иррациональные числа достаточно редко встречаются именно в виде бесконечных непериодических десятичных дробей. Обычно они встречаются в виде #[a(href='http://www.cleverstudents.ru/roots/roots.html') корней], #[a(href='http://www.cleverstudents.ru/powers/powers.html') степеней], #[a(href='http://www.cleverstudents.ru/logarithms/logarithms.html') логарифмов] и т.п., а также в виде специально введенных букв. Самыми известными примерами иррациональных чисел в такой записи являются арифметический квадратный корень из двух , число «пи» π=3,141592…, число e=2,718281… и золотое число .
p Иррациональные числа также можно определить через #[a(href='http://www.cleverstudents.ru/numbers/real_numbers.html') действительные числа], которые объединяют рациональные и иррациональные числа.
p Определение.
p #[b Иррациональные числа] – это действительные числа, не являющиеся рациональными.
| К началу страницы
h4 Является ли данное число иррациональным?
p Когда число задано не в виде десятичной дроби, а в виде некоторого #[a(href='http://www.cleverstudents.ru/expressions/expressions_with_numbers_letters_variables.html#numerical') числового выражения], корня, логарифма и т.п., то ответить на вопрос, является ли оно иррациональным, во многих случаях достаточно сложно.
p Несомненно, при ответе на поставленный вопрос очень полезно знать, какие числа не являются иррациональными. Из определения иррациональных чисел следует, что иррациональными числами не являются рациональные числа. Таким образом, иррациональными числами НЕ являются:
ul
	li #[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральные числа];
	li #[a(href='http://www.cleverstudents.ru/numbers/integers.html') целые числа];
	li #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html') обыкновенные дроби];
	li #[a(href='http://www.cleverstudents.ru/numbers/mixed_numbers.html') смешанные числа];
	li конечные и бесконечные периодические десятичные дроби.
p Также не является иррациональным числом любая композиция рациональных чисел, связанных знаками арифметических операций (+, −, ·, :). Это объясняется тем, что сумма, разность, произведение и частное двух рациональных чисел является рациональным числом. Например, значения выражений и являются рациональными числами. Здесь же заметим, что если в подобных выражениях среди рациональных чисел содержится одно единственное иррациональное число, то значение всего выражения будет иррациональным числом. Например, в выражении число - иррациональное, а остальные числа рациональные, следовательно - иррациональное число. Если бы было рациональным числом, то из этого следовала бы рациональность числа , а оно не является рациональным.
p Если же выражение, которым задано число, содержит несколько иррациональных чисел, знаки корня, логарифмы, тригонометрические функции, числа π, e и т.п., то требуется проводить доказательство иррациональности или рациональности заданного числа в каждом конкретном случае. Однако существует ряд уже полученных результатов, которыми можно пользоваться. Перечислим основные из них.
p Доказано, что корень степени k из целого числа является рациональным числом только тогда, когда число под корнем является k-ой степенью другого целого числа, в остальных случаях такой корень задает иррациональное число. Например, числа и - иррациональные, так как не существует целого числа, квадрат которого равен 7, и не существует целого числа, возведение которого в пятую степень дает число 15. А числа и не являются иррациональными, так как и .
p Что касается логарифмов, то доказать их иррациональность иногда удается методом от противного. Для примера докажем, что log3 является иррациональным числом.
p Допустим, что log3 рациональное число, а не иррациональное, то есть его можно представить в виде обыкновенной дроби m/n. #[a(href='http://www.cleverstudents.ru/logarithms/properties_of_logarithms.html') Свойства логарифма] и #[a(href='http://www.cleverstudents.ru/powers/properties_of_powers.html') свойства степени] позволяют записать следующую цепочку равенств: . Последнее равенство невозможно, так как в его левой части #[i нечетное число], а в правой части – четное. Так мы пришли к противоречию, значит, наше предположение оказалось неверным, и этим доказано, что log3 - иррациональное число.
p Заметим, что lna при любом положительном и отличном от единицы рациональном a является иррациональным числом. Например, и - иррациональные числа.
p Также доказано, что число e при любом отличном от нуля рациональном a является иррациональным, и что число π при любом отличном от нуля целом z является иррациональным. К примеру, числа - иррациональные.
p Иррациональными числами также являются тригонометрические функции sin, cos, tg и ctg при любом рациональном и отличном от нуля значении аргумента. Например, sin1, tg(−4), cos5,7, являются иррациональными числами.
p Существуют и другие доказанные результаты, на мы ограничимся уже перечисленными. Следует также сказать, что при доказательстве озвученных выше результатов применяется теория, связанная с #[i алгебраическими числами] и #[i трансцендентными числами].
p В заключение отметим, что не стоит делать поспешных выводов относительно иррациональности заданных чисел. К примеру, кажется очевидным, что иррациональное число в иррациональной степени есть иррациональное число. Однако это не всегда так. В качестве подтверждения озвученного факта приведем степень . Известно, что - иррациональное число, а также доказано, что - иррациональное число, но - рациональное число. Также можно привести примеры иррациональных чисел, сумма, разность, произведение и частное которых есть рациональные числа. Более того, рациональность или иррациональность чисел π+e, π−e, π·e, π, π и многих других до сих пор не доказана.









hgroup 
	h3 Рациональные числа, определение, примеры.
	+source(links=['http://www.cleverstudents.ru/numbers/rational_numbers.html'])
h4 Определение и примеры рациональных чисел
p В этом пункте мы дадим несколько определений рациональных чисел. Несмотря на различия в формулировках, все эти определения имеют единый смысл: рациональные числа объединяют #[a(href='http://www.cleverstudents.ru/numbers/integers.html') целые числа] и #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html#broken_numbers') дробные числа], подобно тому, как целые числа объединяют #[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральные числа], противоположные им числа и число нуль. Иными словами, рациональные числа обобщают целые и дробные числа.
p Начнем с #[strong определения рациональных чисел], которое воспринимается наиболее естественно.
p Определение.
p #[b Рациональные числа] – это числа, которые можно записать в виде положительной #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html') обыкновенной дроби] , отрицательной обыкновенной дроби или числа нуль.
p Из озвученного определения следует, что рациональным числом является:
ul
	li Любое натуральное число n. Действительно, можно представить любое #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html#number_as_fraction') натуральное число в виде обыкновенной дроби], например, 3=3/1.
	li Любое целое число, в частности, число нуль. В самом деле, любое целое число можно записать в виде либо положительной обыкновенной дроби, либо в виде отрицательной обыкновенной дроби, либо как нуль. Например, 26=26/1, .
	li Любая обыкновенная дробь (положительная или отрицательная). Это напрямую утверждается приведенным определением рациональных чисел.
	li Любое #[a(href='http://www.cleverstudents.ru/numbers/mixed_numbers.html') смешанное число]. Действительно, всегда можно представить смешанное число в виде неправильной обыкновенной дроби. Например, и .
	li Любая #[a(href='http://www.cleverstudents.ru/numbers/decimal_fractions.html#finite') конечная десятичная дробь] или #[a(href='http://www.cleverstudents.ru/numbers/decimal_fractions.html') бесконечная периодическая дробь]. Это так в силу того, что указанные #[a(href='http://www.cleverstudents.ru/numbers/decimal_fractions.html#infinite') десятичные дроби] переводятся в обыкновенные дроби. К примеру, , а 0,(3)=1/3.
p Также понятно, что любая бесконечная непериодическая десятичная дробь НЕ является рациональным числом, так как она не может быть представлена в виде обыкновенной дроби.
p Теперь мы можем с легкостью привести #[strong примеры рациональных чисел]. Числа 4, 903, 100 321 – это рациональные числа, так как они натуральные. Целые числа 58, −72, 0, −833 333 333 тоже являются примерами рациональных чисел. Обыкновенные дроби 4/9, 99/3, - это тоже примеры рациональных чисел. Рациональными числами являются и числа .
p Из приведенных примеров видно, что существуют и положительные и отрицательные рациональные числа, а рациональное число нуль не является ни положительным, ни отрицательным.
p Озвученное выше определение рациональных чисел можно сформулировать более краткой форме.
p Определение.
p #[b Рациональными числами] называют числа, которые можно записать в виде дроби z/n, где z – целое число, а n – натуральное число.
p Докажем, что данное определение рациональных чисел равносильно предыдущему определению. Мы знаем, что можно рассматривать #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html#fraction_bar') черту дроби как знак деления], тогда из #[a(href='http://www.cleverstudents.ru/numbers/properties_of_operations_with_integers.html#division') свойств деления целых чисел] и #[a(href='http://www.cleverstudents.ru/numbers/division_of_integers.html') правил деления целых чисел] следует справедливость следующих равенств и . Таким образом, , что и является доказательством.
p Приведем примеры рациональных чисел, основываясь на данном определении. Числа −5, 0, 3, и являются рациональными числами, так как они могут быть записаны в виде дробей с целым числителем и натуральным знаменателем вида и соответственно.
p Определение рациональных чисел можно дать и в следующей формулировке.
p Определение.
p #[b Рациональные числа] – это числа, которые могут быть записаны в виде конечной или бесконечной периодической десятичной дроби.
p Это определение также равносильно первому определению, так как всякой обыкновенной дроби соответствует конечная или периодическая десятичная дробь и обратно, а любому целому числу можно сопоставить десятичную дробь с нулями после запятой.
p Например, числа 5, 0, −13, представляют собой примеры рациональных чисел, так как их можно записать в виде следующих десятичных дробей 5,0, 0,0, −13,0, 0,8 и −7,(18).
p Закончим теорию этого пункта следующими утверждениями:
ul
	li целые и дробные числа (положительные и отрицательные) составляют множество рациональных чисел;
	li каждое рациональное число может быть представлено в виде дроби с целым числителем и натуральным знаменателем, а каждая такая дробь представляет собой некоторое рациональное число;
	li каждое рациональное число может быть представлено в виде конечной или бесконечной периодической десятичной дроби, а каждая такая дробь представляет собой некоторое рациональное число.
| К началу страницы
h4 Является ли данное число рациональным?
p В предыдущем пункте мы выяснили, что любое натуральное число, любое целое число, любая обыкновенная дробь, любое смешанное число, любая конечная десятичная дробь, а также любая периодическая десятичная дробь является рациональным числом. Это знание нам позволяет «узнавать» рациональные числа из множества написанных чисел.
p Но как быть, если число задано в виде некоторого #[a(href='http://www.cleverstudents.ru/expressions/expressions_with_numbers_letters_variables.html#numerical') числового выражения], или как #[a(href='http://www.cleverstudents.ru/roots/roots.html') корень], #[a(href='http://www.cleverstudents.ru/powers/powers.html') степень], #[a(href='http://www.cleverstudents.ru/logarithms/logarithms.html') логарифм] и т.п., как ответить на вопрос, является ли данное число рациональным? Во многих случаях ответить на него очень сложно. Укажем некоторые направления ходу мысли.
p Если число задано в виде числового выражения, которое содержит лишь рациональные числа и знаки арифметических действий (+, −, · и :), то значение этого выражения представляет собой рациональное число. Это следует из того, как определены #[a(href='http://www.cleverstudents.ru/numbers/operations_with_rational_numbers.html') действия с рациональными числами]. Например, выполнив все действия в выражении , мы получаем рациональное число 18.
p Иногда, после упрощения выражений и более сложного вида, появляется возможность определить, рационально ли заданное число.
p Пойдем дальше. Число 2 является рациональным числом, так как любое натуральное число является рациональным. А как насчет числа ? Является ли оно рациональным? Оказывается, что нет, - не является рациональным числом, это #[a(href='http://www.cleverstudents.ru/numbers/irrational_numbers.html') иррациональное число] (доказательство этого факта методом от противного приведено в учебнике по алгебре за 8 класс, указанном ниже в списке литературы). Также доказано, что квадратный корень из натурального числа является рациональным числом только в тех случаях, когда под корнем находится число, являющееся полным квадратом некоторого натурального числа. Например, и - рациональные числа, так как 81=9 и 1 024=32, а числа и не являются рациональными, так как числа 7 и 199 не являются полными квадратами натуральных чисел.
p А число рационально или нет? В данном случае несложно заметить, что , следовательно, данное число – рациональное. А является ли число рациональным? Доказано, что корень k-ой степени из целого числа является рациональным числом только тогда, когда число под знаком корня является k-ой степенью некоторого целого числа. Поэтому не является рациональным числом, так как не существует целого числа, пятая степень которого равна 121.
p Метод от противного позволяет доказывать, что логарифмы некоторых чисел по некоторым основаниям не являются рациональными числами. Для примера докажем, что - не рациональное число.
p Предположим противное, то есть, допустим, что - рациональное число и его можно записать в виде обыкновенной дроби m/n. Тогда #[a(href='http://www.cleverstudents.ru/logarithms/properties_of_logarithms.html') свойства логарифма] и #[a(href='http://www.cleverstudents.ru/powers/properties_of_powers.html') свойства степени] дают следующие равенства: . Последнее равенство невозможно, так как в левой его части находится #[i нечетное число] 5, а в правой части – четное число 2. Следовательно, наше предположение неверно, таким образом, не является рациональным числом.
p В заключение стоит особо отметить, что при выяснении рациональности или иррациональности чисел следует воздержаться от скоропостижных выводов.
p Например, не стоит сразу утверждать, что произведение иррациональных чисел π и e является иррациональным числом, это «как бы очевидно», но не доказано. При этом возникает вопрос: «А с чего бы произведению быть рациональным числом»? А почему бы и нет, ведь можно привести пример иррациональных чисел, произведение которых дает рациональное число: .
p Также неизвестно, являются ли числа и многие другие числа рациональными или не являются таковыми. Например, существуют иррациональные числа, иррациональная степень которых является рациональным числом. Для иллюстрации приведем степень вида , основание данной степени и показатель степени не являются рациональными числами, но , а 3 – рациональное число.









hgroup 
	h3 Общее представление о целых числах.
	+source(links=['http://www.cleverstudents.ru/numbers/integers.html'])
h4 Целые числа – определение и примеры
p Дадим #[strong определение целых чисел]. Чтобы его понять, нужно знать про #[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральные числа], а также иметь #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') представление о противоположных числах].
p Определение.
p #[b Целые числа] – это натуральные числа, число нуль, а также числа, противоположные натуральным.
p Определение целых чисел утверждает, что любое из чисел 1, 2, 3, …, число 0, а также любое из чисел −1, −2, −3, … является целым. Теперь мы легко можем привести #[strong примеры целых чисел]. Например, число 38 – целое, число 70 040 – тоже целое, нуль – целое число (напомним, что нуль НЕ является натуральным числом, нуль – целое число), числа −999, −1, −8 934 832 – также являются примерами целых чисел.
p Все целые числа удобно представлять как последовательность целых чисел, которая имеет следующий вид: 0, ±1, ±2, ±3, … Последовательность целых чисел можно записать и так: …, −3, −2, −1, 0, 1, 2, 3, …
p Из определения целых чисел следует, что множество натуральных чисел является подмножеством множества целых чисел. Поэтому, любое натуральное число является целым, но не любое целое число является натуральным.
| К началу страницы
h4 Целые числа на координатной прямой
p Давайте взглянем на #[a(href='http://www.cleverstudents.ru/vectors/coordinate_line.html') координатную прямую], чтобы увидеть точки, соответствующие целым числам. Будем считать, что координатная прямая проведена горизонтально и направлена вправо.
p Из построения координатной прямой следует, что началу отсчета и точкам, отмеченным штрихами, взаимно однозначно соответствуют целые числа. То есть, каждой из указанных точек соответствует единственное целое число, следовательно, несовпадающим точкам отвечают разные целые числа. Началу отсчета (точке O) соответствует целое число нуль, а точкам, которые отмечены штрихами, соответствуют другие целые числа. Никаким другим точкам координатной прямой целые числа не соответствуют, и никакому целому числу не отвечает точка координатной прямой, отличная от указанных выше.
p В любую точку, отмеченную штрихом (координатами этих точек являются целые числа), мы можем попасть, если от начала отсчета последовательно отложим некоторое количество единичных отрезков.
| К началу страницы
h4 Целые положительные и целые отрицательные числа
p Изучив материал статьи #[a(href='http://www.cleverstudents.ru/numbers/positive_and_negative_numbers.html') положительные и отрицательные числа], мы из всех целых чисел можем выделить целые положительные и целые отрицательные числа.
p Определение.
p #[strong Целые положительные числа] - это целые числа со знаком плюс.
p Например, число 5 – это целое положительное число. Другими примерами целых положительных чисел являются числа 11, 501, 40 000 003.
p Определение.
p #[strong Целые отрицательные числа] – это целые числа со знаком минус.
p Приведем несколько примеров целых отрицательных чисел. Числа −6, −5 555, −12 121 – целые отрицательные.
p #[b Число нуль (число 0) не является ни целым положительным, ни целым отрицательным числом]. Нуль как бы отделяет целые отрицательные числа от целых положительных.
p Вообще, в силу определения противоположных чисел, любое число, противоположное целому положительному числу, есть целое отрицательное число. И наоборот, любое число, противоположное целому отрицательному числу, есть целое положительное. Это утверждение позволяет дать определения целых положительных и целых отрицательных чисел на основе их сравнения с нулем (здесь нужно владеть материалом статьи #[a(href='http://www.cleverstudents.ru/numbers/comparison_of_integers.html') сравнение целых чисел]).
p Определение.
p #[b Целые положительные числа] – это целые числа, которые больше нуля.
p Определение.
p #[b Целые отрицательные числа] – это целые числа, которые меньше нуля.
p Целые положительные и отрицательные числа можно также определить по их положению на координатной прямой. На горизонтальной координатной прямой точки, координатами которых являются целые положительные числа, лежат правее начала отсчета. В свою очередь точки с целыми отрицательными координатами располагаются левее точки O.
p Понятно, что множество всех целых положительных чисел представляет собой множество натуральных чисел. В свою очередь множество всех целых отрицательных чисел – это множество всех чисел, противоположных натуральным числам.
p Отдельно обратим Ваше внимание на то, что любое натуральное число мы можем смело назвать целым, а любое целое число мы НЕ можем назвать натуральным. Натуральным мы можем назвать лишь любое целое положительное число, так как целые отрицательные числа и нуль не являются натуральными.
| К началу страницы
h4 Целые неположительные и целые неотрицательные числа
p Дадим определения целых неположительных чисел и целых неотрицательных чисел.
p Определение.
p Все целые положительные числа вместе с числом нуль называют #[strong целыми неотрицательными числами].
p Определение.
p #[strong Целые неположительные числа] – это все целые отрицательные числа вместе с числом 0.
p Другими словами, целое неотрицательное число – это целое число, которое больше нуля, либо равно нулю, а целое неположительное число – это целое число, которое меньше нуля, либо равно нулю.
p Примерами целых неположительных чисел являются числа −511, −10 030, 0, −2, а в качестве примеров целых неотрицательных чисел приведем числа 45, 506, 0, 900 321.
p Наиболее часто термины «целые неположительные числа» и «целые неотрицательные числа» используют для краткости изложения. Например, вместо фразы «число a целое, причем a больше нуля или равно нулю» можно сказать «a – целое неотрицательное число».
| К началу страницы
h4 Описание изменения величин при помощи целых чисел
p Пришло время поговорить о том, для чего вообще нужны целые числа.
p Основное предназначение целых чисел заключается в том, что с их помощью удобно описывать изменение количества каких-либо предметов. Разберемся с этим на примерах.
p Пусть на складе находится некоторое количество деталей. Если на склад привезут еще, к примеру, 400 деталей, то количество деталей на складе увеличится, а число 400 выражает это изменение количества в положительную сторону (в сторону увеличения). Если же со склада заберут, например, 100 деталей, то количество деталей на складе уменьшится, а число 100 будет выражать изменение количества в отрицательную сторону (в сторону уменьшения). На склад не будут привозить детали, и не будут увозить детали со склада, то можно говорить о неизменности количестве деталей (то есть можно будет говорить о нулевом изменении количества).
p В приведенных примерах изменение количества деталей можно описать при помощи целых чисел 400, −100 и 0 соответственно. Положительное целое число 400 показывает изменение количества в положительную сторону (увеличение). Отрицательное целое число −100 выражает изменение количества в отрицательную сторону (уменьшение). Целое число 0 показывает, что количество осталось без изменения.
p Удобство использования целых чисел по сравнению с использованием натуральных чисел заключается в том, что не нужно явно указывать увеличивается количество или уменьшается, - целое число определяет изменение количественно, а знак целого числа указывает направление изменения.
p Целые числа также могут выражать не только изменение количества, но и изменение какой-либо величины. Разберемся с этим на примере изменения температуры.
p Повышение температуры, скажем, на 4 градуса выражается положительным целым числом 4. Понижение температуры, например, на 12 градусов можно описать отрицательным целым числом −12. А неизменность температуры – это ее изменение, определяемое целым числом 0.
p Отдельно нужно сказать о трактовке отрицательных целых чисел как величины долга. Например, если у нас есть 3 яблока, то целое положительное число 3 показывает количество яблок, которыми мы владеем. С другой стороны, если мы должны кому-либо отдать 5 яблок, а у нас их нет в наличии, то эту ситуацию можно описать при помощи отрицательного целого числа −5. В этом случае мы «обладаем» −5 яблоками, знак минус указывает на долг, а число 5 определяет долг количественно.
p Понимание отрицательного целого числа в качестве долга позволяет, например, обосновать #[a(href='http://www.cleverstudents.ru/numbers/addition_of_integers.html#negative_plus_negative') правило сложения отрицательных целых чисел]. Приведем пример. Если кто-то должен 2 яблока одному человеку и одно яблоко – другому, то общий долг составляет 2+1=3 яблока, поэтому −2+(−1)=−3.














hgroup 
	h3 Координатная прямая (числовая прямая), координатный луч.
	+source(links=['http://www.cleverstudents.ru/vectors/coordinate_line.html'])
h4 Координатный луч
p Чтобы определить координатный луч, нам сначала потребуется, конечно же, сам луч. Итак, построим луч, обозначим его OX, точка O – начало луча. Забегая вперед, скажем, что точку O называют #[b началом отсчета] координатного луча. Луч можно изображать в любом направлении, однако во многих случаях луч проводят горизонтально и вправо от его начала.
p Так у нас есть луч. Как же его сделать координатным лучом?
p Во-первых, над точкой O нужно написать число 0.
p Во-вторых, нужно задать так называемый #[b единичный отрезок]. Для этого на луче нужно отметить какую-нибудь точку, отличную от точки O (на этом месте принято ставить не точку, а штрих), и над штрихом записать число 1.
p В-третьих, на луче от конца единичного отрезка нужно отложить еще один отрезок, равный единичному, далее от конца этого отрезка нужно отложить еще один единичный отрезок, от конца построенного отрезка нужно отложить еще один единичный отрезок, и так далее.
p Наконец, чтобы координатный луч принял законченный вид, осталось записать над штрихами слева направо числа из #[a(href='http://www.cleverstudents.ru/numbers/comparison_of_natural_numbers.html#natural_sequence') натурального ряда чисел]: 2, 3, 4, …
p Так координатный луч представляет собой не что иное, как бесконечную шкалу.
p Следует заметить, что очень часто координатный луч изображают лучом с началом в точке O, и откладывают от его начала единственный единичный отрезок, над концами которого записывают числа 0 и 1. Этот вариант изображения координатного луча приведен на рисунке ниже.
p В этом случае подразумевается, что мы при необходимости можем легко продолжить построение шкалы, последовательно откладывая единичные отрезки на луче.
p Также допускается буквы O и X записывать над лучом, а числа – под лучом.
p Наконец, не удивляйтесь, если в обозначении координатного луча Вы увидите одновременно и маленькую и большую буквы. Наиболее часто придется сталкиваться с координатными лучами, обозначенными как Ox, Oy и Oz.
h4 Координатная прямая
p Координатную прямую очень легко построить, если Вы хорошо усвоили принцип изображения координатного луча, о котором мы говорили в предыдущем пункте. Сделаем это.
p Пусть перед нами находится координатный луч OX. Придадим ему положительное направление, указав его стрелочкой.
p Теперь проведем луч с началом в точке O, дополняющий луч OX до прямой.
p На этом луче отметим штрихи, откладывая друг за другом единичные отрезки справа налево, начиная с точки O.
p После того как над штрихами справа налево от точки O мы запишем числа -1, -2, -3, …, координатная прямая примет законченный вид.
p На практике чаще используется координатная прямая, на которой отмечено лишь начало отсчета и единичный отрезок, то есть, координатная прямая одного из следующих видов.
p Итак, #[b координатная прямая – это прямая, на которой выбрано начало отсчета, указан единичный отрезок и задано направление].
h4 Взаимно однозначное соответствие между точками координатной прямой и действительными числами
p Нам известно, что на данной прямой линии лежит бесконечно много точек. Не является исключением и координатная прямая – она также содержит бесконечно много точек. Между точками координатной прямой и #[a(href='http://www.cleverstudents.ru/numbers/real_numbers.html') действительными числами] существует очень важная связь, которую называют #[b взаимно однозначным соответствием]. Эта связь выражается следующим утверждением: #[b каждой точке координатной прямой соответствует единственное действительное число, а каждому действительному числу соответствует единственная точка на координатной прямой].
p Озвученное утверждение, несомненно, нуждается в пояснении.
p Отметим какую-нибудь точку на координатной прямой. Какое действительное число ей соответствует?
p Если эта точка совпадает с началом отсчета (точкой O), то будем считать, что ей отвечает число нуль.
p Если эта точка не совпадает с началом отсчета, то от точки O будем друг за другом последовательно откладывать единичные отрезки, пока не попадем в отмеченную точку. Если это произошло, то будем считать, что этой точке соответствует число, записанное над ней. Например, на рисунке ниже в точку М мы попадаем, отложив три единичных отрезка в отрицательном направлении, этой точке соответствует число -3.
p Если же откладывание единичных отрезков на координатной прямой не приводит нас в отмеченную точку, то будем откладывать не только единичные отрезки, но и отрезки, составляющие одну десятую долю единичного отрезка, а при необходимости одну сотую долю, одну тысячную долю и так далее. На рисунке ниже в точку М мы попали, отложив в положительном направлении 1 единичный отрезок и 4 отрезка, составляющих десятую долю единичного отрезка. Этой точке соответствует #[a(href='http://www.cleverstudents.ru/numbers/rational_numbers.html') рациональное число] 1,4. А если на координатной прямой отложить в отрицательном направлении 17 единичных отрезков, 3 отрезка, составляющих сотую долю единичного, и 9 отрезков, составляющих стотысячную долю единичного, то мы попадем в точку, которой будет соответствовать число, противоположное числу 17,03009, то есть -17,03009 (при необходимости обращайтесь к материалу статьи #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') противоположные числа]).
p Так единичный отрезок и его десятая, сотая и так далее доли позволяют нам попасть в точки координатной прямой, которым будут соответствовать конечные десятичные дроби (как в предыдущем примере). Однако на координатной прямой существуют точки, в которые мы не можем попасть, но к которым мы можем подойти сколь угодно близко, использую все меньшие и меньшие до бесконечно малой доли единичного отрезка. Этим точкам соответствуют бесконечные периодические и непериодические десятичные дроби. Приведем несколько примеров. Одной из таких точек на координатной прямой соответствует число 3,711711711…=3,(711). Чтобы подойти к этой точке нужно отложить 3 единичных отрезка, 7 его десятых долей, 1 сотую долю, 1 тысячную, 7 десятитысячных долей, 1 стотысячную, 1 миллионную долю единичного отрезка и так далее. А еще одной точке координатной прямой отвечает #[a(href='http://www.cleverstudents.ru/numbers/irrational_numbers.html') иррациональное число] пи (π=3,141592...).
p Так как элементами множества действительных чисел являются все числа, которые можно записать в виде конечных и бесконечных десятичных дробей, то вся вышеизложенная в этом пункте информация позволяет утверждать, что каждой точке координатной прямой мы поставили в соответствие конкретное действительное число, при этом понятно, что разным точкам соответствуют разные действительные числа.
p Также достаточно очевидно, что это соответствие является взаимно однозначным. То есть, мы можем указанной точке на координатной прямой поставить в соответствие действительное число, но мы также можем по данному действительному числу указать конкретную точку на координатной прямой, которой отвечает данное действительное число. Для этого нам придется отложить от начала отсчета в нужном направлении определенное количество единичных отрезков, а также десятых, сотых и так далее долей единичного отрезка. Например, числу 703,405 отвечает точка на координатной прямой, в которую из начала отсчета можно попасть, отложив в положительном направлении 703 единичных отрезка, 4 отрезка, составляющих десятую долю единичного, и 5 отрезков, составляющих тысячную долю единичного.
p Итак, каждой точке на координатной прямой отвечает действительное число, и каждое действительное число имеет свое место в виде точки на координатной прямой. Вот почему координатную прямую очень часто называют #[b числовой прямой].
p Мимоходом заметим, что точкам, лежащим правее начала отсчета на числовой прямой, соответствуют положительные числа, а точкам, лежащим левее начала отсчета, - отрицательные. Подробнее об этом написано в статье #[a(href='http://www.cleverstudents.ru/numbers/positive_and_negative_numbers.html') положительные и отрицательные числа].
h4 Координаты точек на координатной прямой
p Число, соответствующее точке на координатной прямой, называется #[b координатой этой точки].
p В предыдущем пункте мы сказали, что каждому действительному числу соответствует единственная точка на координатной прямой, поэтому, координата точки однозначно определяет положение этой точки на координатной прямой. Иными словами, координата точки однозначно задает эту точку на координатной прямой. С другой стороны каждой точке на координатной прямой соответствует единственное действительное число – координата этой точки.
p Осталось сказать лишь о принятых обозначениях. Координату точки записывают в круглых скобках справа от буквы, которой обозначена точка. Например, если точка М имеет координату -6, то можно записать М(-6), а запись вида 
	img(src='http://www.cleverstudents.ru/vectors/images/coordinate_line/014.png')
	| означает, что точка М на координатной прямой имеет координату 
	img(src='http://www.cleverstudents.ru/vectors/images/coordinate_line/015.png')
	| .













hgroup
	h3 Понятие делимости целых чисел, свойства делимости.
	+source(links=['http://www.cleverstudents.ru/divisibility/divisibility.html#definition'])
dl
	dt Понятие делимости 
	dd Одно из основных понятий арифметики и теории чисел. Мы будем говорить о делимости #[a(href='http://www.cleverstudents.ru/numbers/integers.html') целых чисел] и в частных случаях - о делимости #[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральных чисел]. Итак, дадим представление о делимости на множестве целых чисел.
p Целое число a #[b делится] на целое число b, которое отлично от нуля, если существует такое целое число (обозначим его q), что справедливо равенство a=b·q. В этом случае также говорят, что b #[b делит] a. При этом целое число b называется #[b делителем] числа a, целое число a называется #[b кратным] числа b (для получения более детальной информации о делителях и кратных обращайтесь к статье #[a(href='http://www.cleverstudents.ru/divisibility/divisors_and_multiples.html') делители и кратные]), а целое число q называют #[b частным].
p Если целое число a делится на целое число b в указанном выше смысле, то можно сказать, что a делится на b #[b нацело]. Слово «нацело» в этом случае дополнительно подчеркивает, что частное от деления целого числа a на целое число b является целым числом.
p В некоторых случаях для данных целых чисел a и b не существует такого целого числа q, при котором справедливо равенство a=b·q. В таких случаях говорят, что целое число a не делится на целое число b (при этом имеется в виду, что a не делится на b нацело). Однако в этих случаях прибегают к #[a(href='http://www.cleverstudents.ru/numbers/division_of_integers_with_remainder.html') делению целых чисел с остатком].
p Разберемся с понятием делимости на примерах.
p #[a(href='http://www.cleverstudents.ru/numbers/integers.html#positive_and_negative') Целое отрицательное число] −81 делится на целое отрицательное число −27, так как −81=(−27)·3 (равенство (−27)·3=−81 имеет место в силу #[a(href='http://www.cleverstudents.ru/numbers/multiplication_of_integers.html#positive_and_negative') правила умножения целых чисел с разными знаками]). Здесь же можно сказать, что число −27 делит −81. В этом примере целое число −81 – это кратное числа −27, а число −27 – делитель числа −81.
p Рассмотрим еще один пример. Целое число −16 не делится на целое число 5, так как не существует такого целого числа q, при котором справедливо равенство −16=5·q. Таким образом, число −16 не является кратным числа 5, а число 5 не является делителем числа −16.
p Теперь введем обозначения, принятые для удобства описания делимости.
p Тот факт, что целое число a является кратным целого числа b (a кратно b, или a делится на b), записывают с помощью символа, представляющего собой три расположенные по вертикали точки «
	img(title='символ делимости или кратности' src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
	| », в виде a
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
	| b. Например, запись 972
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
	| 9 означает, что целое положительное число 972 делится на 9.
p С другой стороны, то обстоятельство, что целое число b делит целое число a, записывают с использованием символа «|», имеющего вид вертикальной черты, следующим образом: b|a. К примеру, запись 3|27 означает, что число 3 делит 27. Также можно встретить записи вида b\a (посмотрите на #[a(href='http://www.cleverstudents.ru/numbers/common_fractions.html') обыкновенную дробь] a/b справа налево), которые являются лишь разновидностью записи b|a и означают то же самое (что b делит a).
p Если символы делится 
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
	| и делит | зачеркнуть, то получим символы вида 
	img(title='символ не делится, не кратно' src='http://www.cleverstudents.ru/divisibility/images/divisibility/002.png')
	| и 
	img(title='символ не делит' src='http://www.cleverstudents.ru/divisibility/images/divisibility/003.png')
	| , которые означают не делится (не является кратным, не кратно) и не делит соответственно. Приведем примеры. Запись 45
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/002.png')
	| 7 утверждает, что 45 не делится на 7 (45 не является кратным числа 7, 45 не кратно 7). Целое число −3 не делит целое число 11, кратко можно записать (−3)
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/003.png')
	| 11.
p Итак, записи a
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
	| b и b|a по сути являются различными формами записи одного и того же факта - делимости целого числа a на целое число b, а записи вида a
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/002.png')
	| b и b
	img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/003.png')
	| a опровергают делимость a на b.
h4 Свойства делимости
p Делимость обладает рядом характерных свойств. Перечислим и обоснуем основные #[strong свойства делимости], которые следуют из понятия делимости и #[a(href='http://www.cleverstudents.ru/numbers/properties_of_operations_with_integers.html') свойств операций над целыми числами].
ol
	li
		p Любое целое число a делится на число a, на число −a, #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') противоположное числу] a, на единицу и на число −1.
		p Докажем это свойство делимости.
		p Для любого целого числа a справедливы равенства a=a·1 и a=1·a, из которых следует, что a делится на a, причем частное равно единице, и что a делится на 1, причем частное равно a. Для любого целого числа a также справедливы равенства a=(−a)·(−1) и a=(−1)·(−a), из которых следует делимость a на число, противоположное числу a, а также делимость a на минус единицу.
		p Отметим, что свойство делимости целого числа a на себя называют свойством рефлексивности.
	li
		p Следующее свойство делимости утверждает, что нуль делится на любое целое число b.
		p Действительно, так как 0=b·0 для любого целого числа b, то нуль делится на любое целое число.
		p В частности, нуль делится и на нуль. Это подтверждает равенство 0=0·q, где q – любое целое число. Из этого равенства вытекает, что частным от деления нуля на нуль является любое целое число.
		p Также нужно отметить, что на 0 не делится никакое другое целое число a, отличное нуля. Поясним это. Если бы нуль делил целое число a, отличное от нуля, то должно было бы быть справедливо равенство a=0·q, где q – некоторое целое число, а последнее равенство возможно только при a=0.
	li
		p Если целое число a делится на целое число b и #[a(href='http://www.cleverstudents.ru/modulus/modulus_of_number.html') модуль числа] a меньше модуля числа b, то a равно нулю. В буквенном виде это свойство делимости записывается так: если a
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
			| b и 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/004.png')
			| , то a=0.
		p Доказательство.
		p Так как a делится на b, то существует целое число q, при котором верно равенство a=b·q. Тогда должно быть справедливо и равенство 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/005.png')
			| , а в силу #[a(href='http://www.cleverstudents.ru/modulus/modulus_of_number.html#properties') свойств модуля числа] должно быть справедливо и равенство вида 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/006.png')
			| . Если q не равно нулю, то 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/007.png')
			| , откуда следует, что 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/008.png')
			| . Учитывая полученное неравенство, из равенства 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/006.png')
			| следует, что 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/009.png')
			| . Но это противоречит условию 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/004.png')
			| . Таким образом, q может быть равно только нулю, при этом получим a=b·q=b·0=0, что и требовалось доказать.
	li: p Если целое число a отлично от нуля и делится на целое число b, то модуль числа a не меньше модуля числа b. То есть, если a≠0 и a
		img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
		| b, то 
		img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/009.png')
		| . Это свойство делимости непосредственно вытекает из предыдущего.
	li
		p Делителями единицы являются только целые числа 1 и −1.
		p Во-первых, покажем, что единица делится на 1 и на −1. Это следует из равенств 1=1·1 и 1=(−1)·(−1).
		p Осталось доказать, что никакое другое целое число не является делителем единицы.
		p Предположим, что целое число b, отличное от 1 и −1, является делителем единицы. Так как единица делится на b, то в силу предыдущего свойства делимости должно выполняться неравенство 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/010.png')
			| , которое равносильно неравенству 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/011.png')
			| . Этому неравенству удовлетворяют только три целых числа: 1, 0, и −1. Так как мы приняли, что b отлично от 1 и −1, то остается лишь b=0. Но b=0 не может быть делителем единицы (что мы показали при описании второго свойства делимости). Этим доказано, что никакие числа, отличные от 1 и −1, не являются делителями единицы.
	li
		p Чтобы целое число a делилось на целое число b необходимо и достаточно, чтобы модуль числа a делился на модуль числа b.
		p Докажем сначала необходимость.
		p Пусть a делится на b, тогда существует такое целое число q, что a=b·q. Тогда 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/012.png')
			| . Так как 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/013.png')
			| является целым числом, то из равенства 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/006.png')
			| следует делимость модуля числа a на модуль числа b.
		p Теперь достаточность.
		p Пусть модуль числа a делится на модуль числа b, тогда существует такое целое число q, что 
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/014.png')
			| . Если числа a и b положительные, то справедливо равенство a=b·q, которое доказывает делимость a на b. Если a и b отрицательные, то верно равенство −a=(−b)·q, которое можно переписать как a=b·q. Если a – отрицательное число, а b – положительное, то имеем −a=b·q, это равенство равносильно равенству a=b·(−q). Если a – положительное, а b – отрицательное, то имеем a=(−b)·q, и a=b·(−q). Так как и q и −q являются целыми числами, то полученные равенства доказывают, что a делится на b.
		p Следствие 1.
		p Если целое число a делится на целое число b, то a также делится на число −b, противоположное числу b.
		p Следствие 2.
		p Если целое число a делится на целое число b, то и −a делится на b.
		p Важность только что рассмотренного свойства делимости сложно переоценить - теорию делимости можно описывать на множестве целых положительных чисел, а это свойства делимости распространяет ее и на целые отрицательные числа.
	li
		p Делимость обладает свойством транзитивности: если целое число a делится на некоторое целое число m, а число m в свою очередь делится на некоторое целое число b, то a делится на b. То есть, если a
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
			| m и m
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
			| b, то a
			img(src='http://www.cleverstudents.ru/divisibility/images/divisibility/001.png')
			| b.
		p Приведем доказательство этого свойства делимости.
		p Так как a делится на m, то существует некоторое целое число a такое, что a=m·a. Аналогично, так как m делится на b, то существует некоторое целое число m такое, что m=b·m. Тогда a=m·a=(b·m)·a=b·(m·a). Так как произведение двух целых чисел является целым числом, то m·a - это некоторое целое число. Обозначив его q, приходим к равенству a=b·q, которое доказывает рассматриваемое свойство делимости.
	li
		p Делимость обладает свойством антисимметричности, то есть, если a делится на b и одновременно b делится на a, то равны либо целые числа a и b, либо числа a и −b.
		p Из делимости a на b и b на a можно говорить о существовании целых чисел q и q таких, что a=b·q и b=a·q. Подставив во второе равенство b·q вместо a, или подставив в первое равенство a·q вместо b, получим, что q·q=1, а учитывая, что q и q – целые, это возможно лишь при q=q=1 или при q=q=−1. Отсюда следует, что a=b или a=−b (или, что то же самое, b=a или b=−a).
	li
		p Для любого целого и отличного от нуля числа b найдется такое целое число a, не равное b, которое делится на b.
		p Таким числом будет любое из чисел a=b·q, где q – любое целое число, не равное единице. Можно переходить к следующему свойству делимости.
	li
		p Если каждое из двух целых слагаемых a и b делится на целое число c, то сумма a+b также делится на c.
		p Так как a и b делятся на c, то можно записать a=c·q и b=c·q. Тогда a+b=c·q+c·q=c·(q+q) (последний переход возможен в силу #[a(href='http://www.cleverstudents.ru/numbers/properties_of_operations_with_integers.html#distributive') распределительного свойства умножения целых чисел относительно сложения]). Так как сумма двух целых чисел является целым числом, то равенство a+b=c·(q+q) доказывает делимость суммы a+b на c.
		p Это свойство можно распространить на сумму трех, четырех и большего количества слагаемых.
		p Если еще вспомнить, что вычитание из целого числа a целого числа b представляет собой сложение числа a с числом −b (смотрите #[a(href='http://www.cleverstudents.ru/numbers/subtraction_of_integers.html#rule') правило вычитания целых чисел]), то данное свойство делимости справедливо и для разности чисел. Например, если целые числа a и b делятся на c, то разность a−b также делится на с.
	li
		p Если известно, что в равенстве вида k+l+…+n=p+q+…+s все члены, кроме какого-то одного, делятся на некоторое целое число b, то и этот один член делится на b.
		p Допустим, этим членом является p (мы можем взять любой из членов равенства, что не повлияет на рассуждения). Тогда p=k+l+…+n−q−…−s. Выражение, получившееся в правой части равенства, делится на b в силу предыдущего свойства. Следовательно, число p также делится на b.
	li
		p Если целое число a делится на целое число b, то произведение a·k, где k – произвольное целое число, делится на b.
		p Так как a делится на b, то справедливо равенство a=b·q, где q – некоторое целое число. Тогда a·k=(b·q)·k=b·(q·k) (последний переход осуществлен в силу #[a(href='http://www.cleverstudents.ru/numbers/properties_of_operations_with_integers.html#multiplication') сочетательного свойства умножения целых чисел]). Так как произведение двух целых чисел есть целое число, то равенство a·k=b·(q·k) доказывает делимость произведения a·k на b.
		p Следствие: если целое число a делится на целое число b, то произведение a·k·k·…·k, где k, k, …, k – некоторые целые числа, делится на b.
	li
		p Если целые числа a и b делятся на c, то сумма произведений a·u и b·v вида a·u+b·v, где u и v – произвольные целые числа, делится на c.
		p Доказательство этого свойства делимости аналогично двум предыдущим. Из условия имеем a=c·q и b=c·q. Тогда a·u+b·v=(c·q)·u+(c·q)·v=c·(q·u+q·v). Так как сумма q·u+q·v является целым числом, то равенство вида a·u+b·v=c·(q·u+q·v) доказывает, что a·u+b·v делится на c.
p На этом закончим обзор основных свойств делимости.
p Список литературы.
ul
	li Виленкин Н.Я. и др. Математика. 6 класс: учебник для общеобразовательных учреждений.
	li Виноградов И.М. Основы теории чисел.
	li Михелович Ш.Х. Теория чисел.
	li Куликов Л.Я. и др. Сборник задач по алгебре и теории чисел: Учебное пособие для студентов физ.-мат. специальностей педагогических институтов.










hgroup
	h3 Нахождение всех делителей числа, число делителей числа.
	+source(links=['http://www.cleverstudents.ru/divisibility/all_divisors_of_number.html'])
h4 Все делители числа, их нахождение
p Дальнейшее изложение подразумевает хорошее владение информацией статьи #[a(href='http://www.cleverstudents.ru/divisibility/divisors_and_multiples.html') делители и кратные числа]. Мы будем говорить лишь о поиске всех делителей #[a(href='http://www.cleverstudents.ru/numbers/integers.html#positive_and_negative') целых положительных чисел] (#[a(href='http://www.cleverstudents.ru/numbers/natural_numbers.html') натуральных чисел]). Этого вполне достаточно, так как одно из #[a(href='http://www.cleverstudents.ru/divisibility/divisibility.html#properties') свойств делимости] утверждает, что множество делителей целого отрицательного числа −a совпадает со множеством делителей #[a(href='http://www.cleverstudents.ru/numbers/opposite_numbers.html') противоположного числа] a (которое будет положительным). 
p положительными делителями #[a(href='http://www.cleverstudents.ru/divisibility/prime_and_composite_numbers.html') простого числа] a являются лишь единица и само это число. Следовательно, любое простое число a имеет четыре делителя, среди которых два положительных и два отрицательных: 1, −1, a и −a. Например, число 11 – простое, оно имеет всего четыре делителя 1, −1, 11 и −11. Еще пример. Число 367 тоже простое, все его делители – это числа 1, −1, 367 и −367. Напомним также, что число 0 имеет бесконечно много делителей, и нахождение всех делителей нуля не представляет интереса.
p Интереснее проходит поиск всех делителей составных чисел. Теоретическая основа этого процесса заключается в следующей теореме.
p(title="Теорема.") Пусть известно #[a(href='http://www.cleverstudents.ru/divisibility/prime_factorization.html#canonical') каноническое разложение числа на простые множители], которое имеет вид a=p·p·…·p, тогда все положительные (натуральные) делители числа a – это числа вида d=p·p·…·p, где t=0, 1, …, s, t=0, 1, …, s, …, t=0, 1, …, s.
p Доказательство.
p С одной стороны, по #[a(href='http://www.cleverstudents.ru/divisibility/divisibility.html#definition') определению делимости] число a делится на любое такое число d, так как существует такое целое число q=p·p·…·p, что a=d·q.
p С другой стороны, всякое число d, которое делит a, имеет указанный вид, так как в силу свойств делимости оно не может иметь других простых множителей, кроме p, p, …, p, а показатели этих множителей не могут превышать s, s, …, s соответственно.
p Из рассмотренной теоремы следует #[strong алгоритм нахождения всех положительных делителей данного числа]. Чтобы найти все делители числа a нужно:
ul
	li получить его каноническое разложение на простые множители вида a=p·p·…·p;
	li вычислить все значения выражения p·p·…·p, в которых числа t, t, …, t принимают независимо друг от друга каждое из значений t=0, 1, …, s, t=0, 1, …, s, …, t=0, 1, …, s.
p Обычно наибольшую трудность представляет именно процесс перебора всех возможных комбинаций значений чисел t, t, …, t. Сейчас мы последовательно рассмотрим решения нескольких примеров нахождения всех делителей чисел, откуда будут понятны все тонкости этого процесса.
details.example
	summary Найдите все делители числа 8
	ol
		li Получить #[a(href='http://www.cleverstudents.ru/divisibility/prime_factorization.html') разложение на простые множители] числа 8 не составляет труда: 8=2·2·2. В канонической форме это разложение выглядит так: 8=2. То есть, в нашем случае a=8, p=2, s=3.
		li Тогда все делители числа 8 представляют собой значения выражения p=2, в котором t принимает значения 0, 1, 2 и 3 (3 – последнее значение, так как s=3). Итак, при t=0 имеем 2=2=1, при t=1 имеем 2=2=2, при t=2 имеем 2=2=4, наконец, при t=3 имеем 2=2=8.
		li Весь процесс нахождения делителей удобно проводить, заполняя таблицу следующего вида: 
			img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/001.png')
		li Таким образом, 1, 2, 4 и 8 – это все положительные делители числа 8. Отрицательными делителями числа 8 являются −1, −2, −4 и −8.
	p Ответ: ±1, ±2, ±4, ±8 – все делители числа 8.
details.example
	summary Перечислите все натуральные делители числа 567.
	ol 
		li Сначала разложим на простые множители число 567: 
			img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/002.png')
		li Каноническое разложение числа 567 на простые множители имеет вид 567=3·7. Теперь для нахождения всех натуральных делителей числа 567 заставим t и t пробегать независимо друг от друга значения 0, 1, 2, 3, 4 и 0, 1 соответственно, при этом будем вычислять значения выражения 3·7. Все эти действия удобно поводить, заполняя следующую таблицу: 
			img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/003.png')
	p Ответ: 1, 3, 7, 9, 21, 27, 63, 81, 189 и 567 – все натуральные делители числа 567.
details.example
	summary Найдите все положительные делители числа 3 900.
	p Разложив число 3 900 на простые множители, получим его каноническое разложение 3 900=2·3·5·13. Все положительные делители найдем, вычисляя значения выражения 2·3·5·13 при t=0, 1, 2, t=0, 1, t=0, 1, 2, t=0, 1. 
		img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/005.png')
		img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/006.png')
		img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/007.png')
	p Ответ: 1, 2, 3, 4, 5, 6, 10, 12, 13, 15, 20, 25, 26, 30, 39, 50, 52, 60, 65, 75, 78, 100, 130, 150, 156, 195, 260, 300, 325, 390, 650, 780, 975, 1 300, 1 950, 3 900 - все положительные делители числа 117 000.
h4 Число делителей числа
p #[strong Число положительных делителей данного числа] a, каноническое разложение которого имеет вид a=p·p·…·p, равно значению выражения (s+1)·(s+1)·…·(s+1). Величина записанного выражения дает количество всех возможных наборов переменных t, t, …, t, где t=0, 1, …, s, t=0, 1, …, s, …, t=0, 1, …, s.
p Приведем пример. Вычислим число натуральных делителей числа 3 900 из последнего примера, рассмотренного в предыдущем пункте. Мы выяснили, что 3 900=2·3·5·13, тогда s=2, s=1, s=2, s=1. Осталось вычислить значение выражения (s+1)·(s+1)·(s+1)·(s+1) при данных значениях s, s, s и s, которое и даст нам искомое число натуральных делителей. Получаем (2+1)·(1+1)·(2+1)·(1+1)=3·2·3·2=36. Следовательно, число 3 900 имеет 36 натуральных делителей. Если мы пересчитаем все делители числа 3 900, полученные в предыдущем примере, то убедимся, что их количество действительно равно 36. Число всех делителей (и положительных и отрицательных) числа 3 900 равно 36·2=72, так как число 3 900 имеет 36 положительных делителей, и, следовательно, 36 отрицательных, противоположных каждому из положительных делителей.
details.example
	summary Найдите число делителей числа 84.
	ol 
		li Разложим 84 на простые множители: 
			img(src='http://www.cleverstudents.ru/divisibility/images/all_divisors_of_number/008.png')
		li Таким образом, каноническое разложение имеет вид 84=2·3·7. Тогда число положительных делителей равно (2+1)·(1+1)·(1+1)=12. Следовательно, число всех делителей равно 2·12=24.
	p Ответ: число 84 имеет 24 делителя.
h4 Нахождение всех общих делителей чисел и их количества
p Из #[a(href='http://www.cleverstudents.ru/divisibility/nod.html#properties') свойств наибольшего общего делителя] следует, что множество делителей данных целых чисел совпадает со множеством делителей НОД этих чисел. Это утверждение относится как к двум числам, так и к трем, и к большему их количеству. Таким образом, чтобы найти все общие делители данных чисел, нужно определить НОД этих чисел и найти все его делители.
p Рассмотрим решения примеров, в которых находятся все общие делители некоторых чисел.
details.example
	summary Найдите все натуральные общие делители чисел 50 и 140, а также их количество.
	ol 
		li Сначала нам нужно #[a(href='http://www.cleverstudents.ru/divisibility/nod_finding.html') найти наибольший общий делитель] чисел 50 и 140, для этого воспользуемся алгоритмом Евклида: 140=50·2+40, 50=40·1+10, 40=10·4, то есть, НОД(50, 140)=10.
		li Теперь определим все положительные делители числа 10. Его разложение на простые множители имеет вид 10=2·5. Тогда 2·5=1, 2·5=5, 2·5=2 и 2·5=10 – все делители числа 10. Следовательно, числа 1, 2, 5 и 10 – это все положительные общие делители чисел 50 и 140, количество этих делителей равно 4.
	p Ответ: 1, 2, 5 и 10 – это все натуральные делители чисел 50 и 140, их количество равно 4.
details.example
	summary Определите число всех положительных общих делителей четырех чисел 90, 45, 315 и 585.
	ol 
		li Сначала найдем #[a(href='http://www.cleverstudents.ru/divisibility/nod_finding.html#factorization') НОД с помощью разложения чисел на простые множители]. Так как 90=2·3·3·5, 45=3·3·5, 315=3·3·5·7 и 585=3·3·5·13, то НОД(90, 45, 315, 585)=3·3·5=3·5. Количество всех искомых положительных общих делителей исходных четырех чисел равно количеству всех положительных делителей НОД этих чисел. Вычислим количество делителей НОД(90, 45, 315, 585)=3·5, оно равно (2+1)·(1+1)=6.
	p Ответ: 6
